<!-- <div class="flex flex-wrap max-w-1400 m-auto ">
   <div class="w-full px-4 text-right pt-20">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
         <div class="rounded-t bg-teal-200 mb-0 px-6 py-6">
            <div class="text-center flex justify-start">
               <h6 class="text-gray-800 text-xl font-bold">
                  تیکت
               </h6>
         
            </div>
         </div>
         <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
           
         </div>
      </div>
   </div>
</div> -->

<div class="flex flex-wrap mt-4">
   <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 pt-20">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
         <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
               <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                  <h3 class="font-semibold text-base text-gray-800">اساتید</h3>
               </div>
               <div class="relative w-full px-4 max-w-full flex-grow flex-1" style="text-align: left;">
                  <button [routerLink]="['/admin/teacher-new']"
                     class="bg-blue-500 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all  duration-150 hover:bg-transparent hover:text-blue-900 border-2 border-transparent hover:border-blue-900"
                     type="button">
                     اضافه کردن استاد جدید
                  </button>
               </div>
            </div>
            <!-- <div class="flex flex-wrap items-center py-2">
                  <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                     <input placeholder="search" type="text" class="rounded outline-none border border-gray-200">
                  </div>
                  <div class="relative w-full px-4 max-w-full flex-grow flex-1" style="text-align: left;">
                     <button [routerLink]="['/admin/newUser']"
                        class="bg-green-900 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all  duration-150 hover:bg-transparent hover:text-green-900 border-2 border-transparent hover:border-green-900"
                        type="button">
                        جست و جو
                     </button>
                  </div>
               </div> -->
         </div>
         <div class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table *ngIf="teachers" class="items-center w-full bg-transparent border-collapse">
               <thead>
                  <tr>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                        ردیف
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                        نام استاد
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">

                     </th>

                  </tr>
               </thead>
               <tbody>

                  <tr *ngFor="let teacher of teachers">
                     <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2 text-left">
                        {{teacher.id}}
                     </td>
                     <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2 text-left">
                        {{teacher.name}}
                     </td>

                     <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap py-2">
                        <div class="flex flex-row">

                           <a [routerLink]="['/admin/teacher-edit/', teacher.id]">
                              <span
                                 class="text-xs inline-block py-1 shadow border-2 border-transparent hover:border-blue-900 px-2  rounded text-black bg-blue-100 hover:text-blue-900 hover:bg-transparent uppercase last:mr-0 mr-1 cursor-pointer duration-300 mx-3">

                                 <i class="fas fa-edit text-base"></i>
                              </span>

                           </a>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <br>
            <br>

            <div class="col-lg-12 col-md-12 flex justify-center">
               <mat-paginator style="width: 100px;" type="number" name="paginator" ngDefaultControl
                  style="direction: ltr;" [length]="" [pageSize]="">
               </mat-paginator>
            </div>
         </div>

      </div>
   </div>