<carousel

  [cellsToShow]="1"
  [counter]="true"
  [height]="700"
  [dots]="true"
  [autoplay]="true"
  [autoplayInterval]="4000"
  [loop]="true"
  [transitionDuration]="800"
  style="direction: ltr"
>
  <div *ngFor="let photo of photos" class="carousel-cell">
    <a href="{{photo.link}}">
      <div
        class=""
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('{{photo.url}}');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>

  
</carousel>
