<carousel

  [cellsToShow]="1"
  [counter]="true"
  [height]="800"
  [dots]="true"
  [autoplay]="true"
  [autoplayInterval]="4000"
  [loop]="true"
  [transitionDuration]="800"
  style="direction: ltr"
>
  <div class="carousel-cell">
    <a href="#1">
      <div
        class=""
        style="
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('assets/img/slideshow/1.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>

  <div class="carousel-cell">
    <a href="#2">
      <div
        class=""
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url('assets/img/slideshow/2.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>

  <div class="carousel-cell">
    <a href="#3"
      ><div
        class=""
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url('assets/img/slideshow/3.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>

  <div class="carousel-cell">
    <a href="#4">
      <div
        class=""
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url('assets/img/slideshow/4.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>

  <div class="carousel-cell">
    <a href="#5"
      ><div
        class=""
        style="
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            ),
            url('assets/img/slideshow/5.jpg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 800px;
          width: auto;
        "
      ></div
    ></a>
  </div>
</carousel>
