<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-gray-800">
          مدیریت بنر صفحه اصلی
        </h3>
      </div>
      <div
        class="relative w-full px-4 max-w-full flex-grow flex-1"
        style="text-align: left"
      >
        <button
          class="bg-red-600 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all font-bold duration-150 hover:bg-transparent hover:text-mesh-700 border-2 border-transparent hover:border-red-600"
          type="button"
        >
          Modify
        </button>
        <button
          class="bg-green-600 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all font-bold duration-150 hover:bg-transparent hover:text-mesh-700 border-2 border-transparent hover:border-green-500"
          type="button"
        >
          save
        </button>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          >
            لینک
          </th>
          <th
            class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          >
            عنوان
          </th>

          <th
            class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          >
            نمایش
          </th>
          <th
            class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left"
          >
            عکس
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input type="checkbox" name="" id="" />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <span
              class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-mesh-600 bg-teal-300 uppercase last:mr-0 mr-1  cursor-pointer"
            >
              انتخاب
            </span>
          </td>
        </tr>
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input type="checkbox" name="" id="" />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
           <span
              class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-mesh-600 bg-teal-300 uppercase last:mr-0 mr-1  cursor-pointer"
            >
              انتخاب
            </span>
          </td>
        </tr>
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input type="checkbox" name="" id="" />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
           <span
              class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-mesh-600 bg-teal-300 uppercase last:mr-0 mr-1  cursor-pointer"
            >
              انتخاب
            </span>
          </td>
        </tr>
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input type="checkbox" name="" id="" />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
             <span
              class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-mesh-600 bg-teal-300 uppercase last:mr-0 mr-1  cursor-pointer"
            >
              انتخاب
            </span>
          </td>
        </tr>
        <tr>
          <th
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4 text-left"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </th>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input
              type="text"
              class="px-2 py-1 placeholder-gray-400 text-gray-700 relative bg-gray-300 bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:bg-white w-full"
            />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
            <input type="checkbox" name="" id="" />
          </td>
          <td
            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-no-wrap p-4"
          >
           <span
              class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-mesh-600 bg-teal-300 uppercase last:mr-0 mr-1  cursor-pointer"
            >
              انتخاب
            </span>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>
