<style>
   .success-card {
      max-width: 600px;
      margin: 40px auto;
   }
</style>


<section class="success-card bg-gray-100 rounded px-8 py-6">
<h1 class="text-center py-2">این رمز جایگزین رمز عبور شما میشود</h1>
  <form #resertForm="ngForm" >
   <div class="w-full m-auto">

      <div class=" form-item max-w-xs m-auto py-2">
         <label class="block font-bold pb-1">رمز جدید</label>
         <input [(ngModel)]="model.newPassword" name="newPassword"
            class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput placeholder=" رمز خود را وارد کنید" value="" type="password" />
      </div>
      <div class="  form-item max-w-xs m-auto py-2">
         <label class="block font-bold pb-1">تکرار رمز</label>
         <input   [(ngModel)]="model.newPassword1" name="newPassword1" type="password"
            class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput placeholder="رمز خود را وارد کنید" value="" />
      </div>

      <button
      (click)="changePassword()"
                class="submit-btn w-full rounded bg-blue-500 py-2 text-white text-center my-1"
                type="submit"
              >
                ویرایش
              </button>
   </div>
  </form>
</section>