<style>
   .success-card {
      max-width: 600px;
      margin: 40px auto;
   }
</style>


<section class="success-card bg-gray-100 rounded px-8 py-6">
<h1 class="text-center py-2">این رمز جایگزین رمز عبور شما میشود</h1>
   <div class="w-full m-auto">

      <div class=" form-item max-w-xs m-auto py-2">
         <label class="block font-bold pb-1">رمز جدید</label>
         <input name="phoneNumber"
            class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput placeholder=" رمز خود را وارد کنید" value="" type="password" />
      </div>
      <div class="  form-item max-w-xs m-auto py-2">
         <label class="block font-bold pb-1">تکرار رمز</label>
         <input  name="password" type="password"
            class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput placeholder="رمز خود را وارد کنید" value="" />
      </div>
   </div>
</section>