/* width */

::-webkit-scrollbar {
    width: 14px;
}



/* Track */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 1px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(37, 34, 34);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #0c0b0b;
}