<div class="header">
	<!-- <div class="alert bg-gray-100 flex-row flex justify-center items-center py-2 sticky top-0 z-50">
		<p class="text-gray-500 text-sm">
			برای مشاهده بیش از 300 ویدیو

			<span class="text-blue-500">اینجا</span>
			را کلیک کنید
		</p>
		<button class="mx-16"><i class="fas fa-times text-gray-500 text-sm"></i></button>
   </div> -->

	<div class="action-status max-w-1400 flex m-auto my-1 z-50">
		<div class="flex flex-row justify-between w-full items-center mx-10">
			<section class="logo flex flex-col justify-items-center items-center">
				<svg-logo></svg-logo>
				<p class="title text-sm">شرکت فیزیوتراپی توان</p>
				<p class="description text-xs text-gray-800">با ما بهتر آموختن را تجربه کنید</p>
			</section>
			<div class="action">
				<button
					class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200"
				>
					ورود
				</button>
				<button
					class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200"
				>
					عضویت
				</button>
			</div>
		</div>
	</div>
</div>
