<!-- Start Login Area -->
        <section class="login-area">
            <div class="row m-0">
                <div class="col-lg-6 col-md-12 p-0">
                    <div class="login-image">
                        <img src="assets/img/login-bg.jpg" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 p-0">
                    <div class="login-content">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <div class="login-form">
                                    <div class="logo">
                                        <a [routerLink]="['/index']"><img src="assets/img/black-logo.png" alt="image"></a>
                                    </div>

                                    <h3>خوش آمدید</h3>
                                    <p>کاربر جدید راک؟ <a [routerLink]="['/register']">ثبت نام</a></p>

                                    <form>
                                        <div class="form-group">
                                            <input type="email" placeholder="آدرس ایمیل" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" placeholder="رمز عبور" class="form-control">
                                        </div>

                                        <button type="submit">ورود</button>
                                        
                                        <div class="forgot-password">
                                            <a href="#">رمز عبور را فراموش کرده اید؟</a>
                                        </div>

                                        <div class="connect-with-social">
                                            <button type="submit" class="facebook"><i class='bx bxl-facebook'></i> اتصال با فیسبوک</button>
                                            <button type="submit" class="twitter"><i class='bx bxl-twitter'></i> اتصال با توئیتر</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Area -->