<!-- Start Page Title Area -->
<div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
	<div class="container">
		<div class="page-title-content">
			<ul>
				<li><a href="index.html">صفحه اصلی</a></li>
				<li><a href="courses-2-columns-style-1.html">جزئیات دوره ها</a></li>
				<li>طراحی گرافیک معتبر با دوره پروژه رایگان</li>
			</ul>
			<h2>دوره ها</h2>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Courses Details Area -->
<section *ngIf="course" class="courses-details-area pt-100 pb-70">
	<div class="container">
		<div class="courses-details-header">
			<div class="row align-items-center justify-center">
				<div class="col-lg-8">
					<div class="courses-title">
						<h2>{{course.title}}</h2>
						<p>برای خرید آموزش ها اول ثبت نام کنید</p>
					</div>

					<div class="courses-meta">
						<ul>
							<li>
								<i class="bx bx-folder-open"></i>
								<span>نام استاد</span>
								<a href="#">{{course.teacher}}</a>
							</li>
							<!-- <li>
								<i class="bx bx-group"></i>
								<span>تخفیف دوره</span>
								<a href="#">{{course.off}}</a>
							</li> -->
							<li>
								<i class="bx bx-calendar"></i>
								<span>تاریخ شروع </span>
								<a href="#">{{course.started}} </a>
							</li>
							<li>
								<i class="bx bx-calendar"></i>
								<span>تاریخ پایان</span>
								<a href="#">{{course.ended}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-center">
			<div class="col-lg-8">
				<div class="courses-details-image text-center">
					<img src="{{course.media.photoUrl}}" alt="image" />
				</div>

				<div class="courses-details-desc">
					<h3 style="margin-bottom: 10px;">شرح</h3>
					<p>{{course.description}}</p>

					<h3>ویدئو معرفی دوره ها</h3>
					<div class="courses-accordion">
						<div class="r1_iframe_embed">
							<iframe
								[src]="course.media.videoUrl | arvan"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen="true"
								webkitallowfullscreen="true"
								mozallowfullscreen="true"
							></iframe>
						</div>
					</div>
					<div class="text-center">
						<div class="courses-price">
							<hr class="mt-4" />
							<div class="row mt-6" style="justify-content: center; align-items: center;">
								<div>
									<div
										class="pl-2 inline text-red-600 opacity-50 text-xl cursor-default"
										style="text-decoration: line-through;"
									>
										{{course.cost}}
									</div>
									<div class="price text-green-600 cursor-default">
										{{course.realCost}}
									</div>
								</div>
								<div>
									<!-- coundition 1 -->
									<div *ngIf="true">
										<a *ngIf="true" (click)="addCourseToUser(course.id)" class="default-btn"
										><i class="bx bx-paper-plane icon-arrow before"></i
											><span class="label cursor-pointer">خرید دوره</span
												><i class="bx bx-paper-plane icon-arrow after cursor-pointer"></i>
											</a>
										</div>
										
										<!-- coundition 2 -->
										<button *ngIf="true" class="default-btn my-2" mat-button (click)="openDialogNotLogin()">
										<i class="bx bx-paper-plane icon-arrow before"></i
											><span class="label cursor-pointer">هنوز وارد نشدم</span
												><i class="bx bx-paper-plane icon-arrow after cursor-pointer"></i>
										</button>
										
										<!-- coundition 3 -->
									<div *ngIf="true" class="my-2">
										<button *ngIf="true" class="default-btn"  mat-button (click)="openDialogNotVerify()">
											اکانت من تایید نشده
										</button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Courses Details Area -->
