  <!-- Start Page Title Area -->
        <div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="page-title-content">
                    <ul>
                        <li><a href="index.html">صفحه اصلی</a></li>
                        <li><a href="courses-2-columns-style-1.html">جزئیات دوره ها</a></li>
                        <li>طراحی گرافیک معتبر با دوره پروژه رایگان</li>
                    </ul>
                    <h2>دوره ها</h2>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Courses Details Area -->
        <section class="courses-details-area pt-100 pb-70">
            <div class="container">
                <div class="courses-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="courses-title">
                                <h2>طراحی گرافیک معتبر با دوره پروژه رایگان</h2>
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                            </div>

                            <div class="courses-meta">
                                <ul>
                                    <li>
                                        <i class='bx bx-folder-open'></i>
                                        <span>دسته بندی</span>
                                        <a href="#">طراحی</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-group'></i>
                                        <span>دانشجویان ثبت نامی</span>
                                        <a href="#">813,454</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-calendar'></i>
                                        <span>آخرین آپدیت</span>
                                        <a href="#">01/12/98</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="courses-price">
                                <div class="courses-review">
                                    <div class="review-stars">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                    </div>
                                    <span class="reviews-total d-inline-block">(2 بازدید)</span>
                                </div>

                                <div class="price">250 ت</div>
                                <a href="#" class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">خرید دوره</span><i class="bx bx-paper-plane icon-arrow after"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="courses-details-image text-center">
                            <img src="assets/img/courses/3.jpg" alt="image">
                        </div>

                        <div class="courses-details-desc">
                            <h3>شرح</h3>
                            <p><strong>سلام! به طراحی گرافیک معتبر و با دوره رایگان پروژه خوش آمدید ، تنها دوره ای که شما نیاز دارید تا یک تحلیلگر شوید.</strong></p>

                            <p>در اینجا جزئیات بیشتری درباره آنچه با دوره تحلیلگر کسب و کار کسب می کنید آورده شده است:</p>

                            <ul class="description-features-list">
                                <li><strong>مقدمه ای بر علوم داده</strong> – اصطلاحاتی مانند هوش تجاری ، داده های سنتی و بزرگ ، روش های آماری سنتی ، یادگیری ماشین ، تجزیه و تحلیل پیش بینی ، یادگیری نظارت شده ، یادگیری بدون نظارت ، یادگیری تقویتی و موارد دیگر;</li>
                                <li><strong>نظریه بانک اطلاعاتی</strong> – قبل از شروع استفاده از SQL ، بسیار مفید است که در مورد تئوری اساسی پایگاه داده بیاموزید و درک درستی از ایجاد پایگاه داده ها و چگونگی کمک به آنها در مدیریت داده ها به دست آورید.;</li>
                                <li><strong>بانک اطلاعاتی</strong> – وقتی می توانید با SQL کار کنید ، این بدان معنی نیست که لازم نیست به دیگران بفرستید که برای شما داده ارسال می کنند و پرس و جوهای خود را برای شما اجرا می کنند. شما می توانید این کار را به تنهایی انجام دهید. این امر به شما امکان می دهد تا مستقل باشید و در اطلاعات عمیق تر جستجو کنید تا بتوانید جواب سؤالاتی را بدست آورید که ممکن است روش شرکت شما تجارت خود را بهبود ببخشد.;</li>
                            </ul>

                            <h3>ویدئو دوره ها</h3>
                            <div class="courses-accordion">
                                <ul class="accordion">
                                    <li class="accordion-item">
                                        <a class="accordion-title active" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            بخش 1: ری اکت جی اس - شروع کار
                                        </a>
        
                                        <div class="accordion-content show">
                                            <ul class="courses-lessons">
                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">01.</span>
                                                        
                                                        <a href="#" class="lessons-title">مقدمه</a>
                                                        
                                                        <span class="preview">پیش نمایش</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">02.</span>
                                                        
                                                        <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>
                                                        
                                                        <span class="preview">پیش نمایش</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">03.</span>
                                                        
                                                        <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>
                                                        
                                                        <span class="preview">پیش نمایش</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">04.</span>
                                                        
                                                        <a href="#" class="lessons-title">دنیای واقعی</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                        <a href="#" class="attrachment-video" data-toggle="tooltip" data-placement="top" title="Download Video"><i class='bx bx-file'></i> فایل</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">05.</span>
                                                        
                                                        <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            بخش 2: تازه کردن نسل بعدی جاوا اسکریپت
                                        </a>
        
                                        <div class="accordion-content">
                                            <ul class="courses-lessons">
                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">01.</span>
                                                        
                                                        <a href="#" class="lessons-title">مقدمه</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">02.</span>
                                                        
                                                        <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">03.</span>
                                                        
                                                        <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">04.</span>
                                                        
                                                        <a href="#" class="lessons-title">دنیای واقعی</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                        <a href="#" class="attrachment-video" data-toggle="tooltip" data-placement="top" title="Download Video"><i class='bx bx-file'></i> فایل</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">05.</span>
                                                        
                                                        <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            بخش 3: درک ویژگی های اصلی و نحوه
                                        </a>
        
                                        <div class="accordion-content">
                                            <ul class="courses-lessons">
                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">01.</span>
                                                        
                                                        <a href="#" class="lessons-title">مقدمه</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">02.</span>
                                                        
                                                        <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">03.</span>
                                                        
                                                        <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">04.</span>
                                                        
                                                        <a href="#" class="lessons-title">دنیای واقعی</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                        <a href="#" class="attrachment-video" data-toggle="tooltip" data-placement="top" title="Download Video"><i class='bx bx-file'></i> فایل</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">05.</span>
                                                        
                                                        <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            بخش 4: یک برنامه جدید واکنش ایجاد کنید
                                        </a>
        
                                        <div class="accordion-content">
                                            <ul class="courses-lessons">
                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">01.</span>
                                                        
                                                        <a href="#" class="lessons-title">مقدمه</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">02.</span>
                                                        
                                                        <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">03.</span>
                                                        
                                                        <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">04.</span>
                                                        
                                                        <a href="#" class="lessons-title">دنیای واقعی</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                        <a href="#" class="attrachment-video" data-toggle="tooltip" data-placement="top" title="Download Video"><i class='bx bx-file'></i> فایل</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">05.</span>
                                                        
                                                        <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="accordion-item">
                                        <a class="accordion-title" href="javascript:void(0)">
                                            <i class='bx bx-chevron-down'></i>
                                            بخش 5: ادغام با سایر کتابخانه ها
                                        </a>
        
                                        <div class="accordion-content">
                                            <ul class="courses-lessons">
                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">01.</span>
                                                        
                                                        <a href="#" class="lessons-title">مقدمه</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">02.</span>
                                                        
                                                        <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">03.</span>
                                                        
                                                        <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">04.</span>
                                                        
                                                        <a href="#" class="lessons-title">دنیای واقعی</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                        <a href="#" class="attrachment-video" data-toggle="tooltip" data-placement="top" title="Download Video"><i class='bx bx-file'></i> فایل</a>
                                                    </div>
                                                </li>

                                                <li class="single-lessons">
                                                    <div class="d-md-flex d-lg-flex align-items-center">
                                                        <span class="number">05.</span>
                                                        
                                                        <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>
                                                        
                                                        <span class="locked">قفل شده</span>
                                                    </div>

                                                    <div class="lessons-info">
                                                        <span class="duration" data-toggle="tooltip" data-placement="top" title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                        <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="attrachment-video popup-youtube" data-toggle="tooltip" data-placement="top" title="Play Video"><i class='bx bx-play-circle'></i> ویدئو</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <h3>آنچه یاد خواهید گرفت</h3>

                            <div class="why-you-learn">
                                <ul>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            کارشناس آمار شوید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            رزومه خود را با مهارت تقویت کنید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            جمع آوری ، سازماندهی ، داده
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            از داده ها برای بهبود کار استفاده کنید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            اطلاعات KPI موجود
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            کمی انجام دهید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            داده های فعلی را تجزیه و تحلیل کنید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            کشف کنید که چگونه روندها را پیدا کنید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            اصول را درک کنید
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                            برای ایجاد ، طراحی از SQL استفاده کنید
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <h3>الزامات</h3>

                            <ul class="requirements-list">
                                <li>برخلاف تصور عامه ، لورم ایپسوم متن ساده ای نیست.</li>
                                <li>لورم ایپسوم به سادگی متن ساختگی صنعت چاپ و تحریر است. لورم ایپسوم صنعت بوده است.</li>
                                <li>گذرگاه استاندارد لورم ایپسوم ، که از دهه 1500 میلادی مورد استفاده قرار می گرفت.</li>
                            </ul>

                            <h3>این دوره برای چه کسی است:</h3>

                            <ul class="audience-list">
                                <li>مبتدیان برنامه نویسی و علوم داده</li>
                                <li>دانشجویان مشتاق یادگیری در مورد فرصت های شغلی در زمینه علوم داده هستند</li>
                                <li>داوطلبان حاضرند با یادگیری چگونگی تلفیق دانش آماری ، SQL و تابلو در یک محیط کاری در دنیای واقعی ، رزومه خود را تقویت کنند.</li>
                                <li>برنامه نویسان SQL که می خواهند استدلال کسب و کار را توسعه دهند و دانش خود را برای حل کارهای مختلف تجاری به کار گیرند</li>
                            </ul>

                            <h3>ملاقات با مربیان ما</h3>

                            <div class="courses-author">
                                <div class="author-profile-header"></div>
                                <div class="author-profile">
                                    <div class="author-profile-title">
                                        <img src="assets/img/user1.jpg" class="shadow-sm rounded-circle" alt="image">

                                        <div class="author-profile-title-details d-flex justify-content-between">
                                            <div class="author-profile-details">
                                                <h4>جیمز اندرسون</h4>
                                                <span class="d-block">عکاس ، نویسنده ، معلم</span>
                                            </div>

                                            <div class="author-profile-raque-profile">
                                                <a href="single-instructor.html" class="d-inline-block">مشاهده پروفایل</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p>جیمز اندرسون یک عکاس ، نویسنده و معلم مشهور است که شور و اشتیاق به هر کاری که می کند..</p>
                                    <p>لورم ایپسوم به سادگی متن ساختگی صنعت چاپ و تحریر است. لورم ایپسوم صنعت بوده است. لورم ایپسوم به سادگی متن ساختگی صنعت چاپ و تحریر است. لورم ایپسوم صنعت بوده است.</p>
                                </div>
                            </div>

                           
                        </div>

                        <div class="related-courses">
                            <h3>دوره های مرتبط</h3>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-courses-box mb-30">
                                        <div class="courses-image">
                                            <a href="single-courses.html" class="d-block"><img src="assets/img/courses/1.jpg" alt="image"></a>
            
                                            <div class="courses-tag">
                                                <a href="#" class="d-block">تجارت</a>
                                            </div>
                                        </div>
            
                                        <div class="courses-content">
                                            <div class="course-author d-flex align-items-center">
                                                <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                                                <span>استیون اسمیت</span>
                                            </div>
            
                                            <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی</a></h3>
            
                                            <div class="courses-rating">
                                                <div class="review-stars-rated">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                </div>
            
                                                <div class="rating-total">
                                                    5.0 (1 امتیاز)
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="courses-box-footer">
                                            <ul>
                                                <li class="students-number">
                                                    <i class='bx bx-user'></i> 10 دانشجو
                                                </li>
            
                                                <li class="courses-lesson">
                                                    <i class='bx bx-book-open'></i> 6 درس
                                                </li>
            
                                                <li class="courses-price">
                                                    رایگان
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-courses-box mb-30">
                                        <div class="courses-image">
                                            <a href="single-courses.html" class="d-block"><img src="assets/img/courses/2.jpg" alt="image"></a>
            
                                            <div class="courses-tag">
                                                <a href="#" class="d-block">طراحی</a>
                                            </div>
                                        </div>
            
                                        <div class="courses-content">
                                            <div class="course-author d-flex align-items-center">
                                                <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                                                <span>سارا تایلور</span>
                                            </div>
            
                                            <h3><a href="single-courses.html" class="d-inline-block">دوره گواهینامه فناوری اطلاعات تخصصی</a></h3>
            
                                            <div class="courses-rating">
                                                <div class="review-stars-rated">
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star'></i>
                                                    <i class='bx bxs-star-half'></i>
                                                </div>
            
                                                <div class="rating-total">
                                                    4.5 (2 امتیاز)
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="courses-box-footer">
                                            <ul>
                                                <li class="students-number">
                                                    <i class='bx bx-user'></i> 15 دانشجو
                                                </li>
            
                                                <li class="courses-lesson">
                                                    <i class='bx bx-book-open'></i> 10 درس
                                                </li>
            
                                                <li class="courses-price">
                                                    250 تومان
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="courses-sidebar-information">
                            <ul>
                                <li>
                                    <span><i class='bx bx-group'></i> دانشجویان:</span>
                                    10
                                </li>
                                <li>
                                    <span><i class='bx bx-time'></i> مدت:</span>
                                    1 هفته
                                </li>
                                <li>
                                    <span><i class='bx bx-tachometer'></i> تلاش:</span>
                                    2–5 ساعت در هفته
                                </li>
                                <li>
                                    <span><i class='bx bxs-institution'></i> موسسه، نهاد:</span>
                                    <a href="#" class="d-inline-block">تم فارست</a>
                                </li>
                                <li>
                                    <span><i class='bx bxs-graduation'></i> موضوع:</span>
                                    طراحی
                                </li>
                                <li>
                                    <span><i class='bx bx-atom'></i> آزمونها:</span>
                                    بله
                                </li>
                                <li>
                                    <span><i class='bx bxs-badge-check'></i> سطح:</span>
                                    صنعت
                                </li>
                                <li>
                                    <span><i class='bx bx-support'></i> زبان:</span>
                                    انگلیسی
                                </li>
                                <li>
                                    <span><i class='bx bx-text'></i> زیرنویس ویدئو:</span>
                                    انگلیسی
                                </li>
                                <li>
                                    <span><i class='bx bx-certification'></i> تایید شده:</span>
                                    بله
                                </li>
                            </ul>
                        </div>

                        <div class="courses-sidebar-syllabus">
                            <h3>برنامه درسی دوره</h3>
                            <span class="chapter">فصل 1</span>
                            <h4>درس</h4>

                            <div class="courses-list">
                                <ul>
                                    <li>
                                        مقدمه
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="number">1.</span> راز 1: فروش مشکل ، نه راه حل (14:37) 
                                        </a>
                                    </li>
                                    <li>
                                        مسابقه - راز 1: فروش مسئله ، نه راه حل
                                    </li>
                                    <li>
                                        <span class="number">2.</span> راز 2: مثل یک مجله فکر کنید ، نه یک فروشنده (4:30)
                                    </li>
                                    <li>
                                        مسابقه - راز 2: مثل یک مجله فکر کنید ، نه یک فروشنده
                                    </li>
                                    <li>
                                        <span class="number">3.</span> راز 3: محتوا پادشاه است ، اما قوام ملکه است (3:56)
                                    </li>
                                    <li>
                                        مسابقه - راز 3: محتوای پادشاه است ، اما قوام ملکه است
                                    </li>
                                    <li>
                                        <span class="number">4.</span> راز 4: پانچ بالای کلاس وزن خود (11:00)
                                    </li>
                                    <li>
                                        <span class="number">5.</span> راز 5: از نظر اخلاقی مشتری های رقبا را سرقت کنید (8:12)
                                    </li>
                                    <li>
                                        <span class="number">6.</span> راز 6: با استقراض مخاطبان ایجاد کنید (10:25)
                                    </li>
                                    <li>
                                        مسابقه - راز 6: با استقراض مخاطبان ایجاد کنید
                                    </li>
                                    <li>
                                        <span class="number">7.</span> راز 7: یک سایه باشید ، نه یک روح (5:19)
                                    </li>
                                    <li>
                                        <span class="number">8.</span> جایزه: نکاتی برای یک فریلنسر 5 ستاره (16:07)
                                    </li>
                                    <li>
                                        <span class="number">9.</span> افکار پایانی (3:15)
                                    </li>
                                    <li>
                                        مسابقه - راز 7: سایه باشید ، نه یک شبح
                                    </li>
                                </ul>
                            </div>

                            <span class="chapter">فصل 2</span>
                            <h4>مسابقه نهایی</h4>

                            <div class="courses-list">
                                <ul>
                                    <li>
                                        مسابقه نهایی
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="courses-purchase-info">
                            <h4>آیا در این دوره برای کسب و کار یا تیم خود علاقه مند هستید؟</h4>
                            <p>برای تجارت ، کارمندان خود را در بیشترین درخواست ها آموزش دهید.</p>

                            <a href="#" class="d-inline-block">اکنون خرید کنید</a>
                            <a href="#" class="d-inline-block">درخواست اطلاعات</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Courses Details Area -->