
<div class="flex flex-wrap justify-start text-right flex-col">
   
   <button class="text-right" mat-button mat-dialog-close (click)="closeDialog()"><i class="fas fa-times"></i></button>
   <div mat-dialog-content class="my-6">اکانت شما هنوز تایید نشده است. لطفا شکیبا باشید</div>
   <div  class="flex flex-wrap justify-end  mt-2">
      
<!--       
      <a class="bg-swatch-green opacity-75 text-gray-300 hover:opacity-100 hover:text-white  duration-200 py-2 px-4 rounded ">ثبت نام</a>
      <a class="bg-swatch-blue opacity-75 text-gray-300 hover:opacity-100 hover:text-white  duration-200 py-2 px-4 rounded mx-2">ورود</a> -->
   </div>

</div>