  <div class="col-lg-4 col-md-6 mix language design development photography">
                            <div class="single-courses-box mb-30">
                                <div class="courses-image">
                                    <a [routerLink]='["/index/products/Single"]' class="d-block"><img src="{{course.media.photoUrl}}" alt="image"></a>
    
                                    <div class="courses-tag">
                                        <a href="#" class="d-block">زبان</a>
                                    </div>
                                </div>
    
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="assets/img/user4.jpg" class="rounded-circle mr-2" alt="image">
                                        <span>{{course.teacher}}</span>
                                    </div>
    
                                    <h3><a [routerLink]='["/index/products/Single"]' class="d-inline-block">{{course.title}}</a></h3>
    
                                    <div class="courses-rating">
                                        <div class="review-stars-rated">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
    
                                        <div class="rating-total">
                                            5.0 (1 امتیاز)
                                        </div>
                                    </div>
                                </div>
    
                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number">
                                            <i class='bx bx-user'></i> {{course.isActive}}
                                        </li>
    
                                        <li class="courses-lesson">
                                            <i class='bx bx-book-open'></i> 6 درس
                                        </li>
    
                                        <li  class="courses-price">
                                            <span *ngIf="course.cost !== course.realCost">{{course.cost}}</span>
                                            {{course.realCost}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>