<div class="col-lg-4 col-md-6 mix language design development photography">
	<div class="single-courses-box mb-30">
		<div class="courses-image">
			<a [routerLink]='["/products/Single/", course.id]' class="d-block"
				><img src="{{course.media.photoUrl}}" alt="image"
			/></a>

		</div>

		<div class="courses-content" style="padding: 0;">
			<div class="course-author d-flex align-items-center">
				<img src="assets/img/user4.jpg" class="rounded-circle mr-2" alt="image" />
				<span>{{course.teacher}}</span>
			</div>

			<h3><a [routerLink]='["/products/Single/", course.id]' class="d-inline-block">{{course.title}}</a></h3>

		</div>

		<div class="courses-box-footer">
			<ul>
				<li *ngIf="course.isActive" class="students-number" style="color: rgb(71, 190, 71);">
					<i class="far fa-play-circle ml-1" style="color: rgb(71, 190, 71);"></i> درحال برگزاری
				</li>
				<li *ngIf="!course.isActive" class="students-number" style="color: rgb(212, 61, 50);">
					<i class="far fa-play-circle ml-1" style="color: rgb(212, 61, 50);"></i>برگزار شده
				</li>

				<li class="courses-lesson"><i class="bx bx-book-open"></i> {{course.off}} %</li>

				<li class="courses-price flex flex-col border-2 border-gray-400 rounded-lg">
					<div class="mt-2">{{course.realCost}} تومان</div>
					<span *ngIf="course.realCost !== course.cost" class="">{{course.cost}} تومان</span>
				</li>
			</ul>
		</div>
	</div>
</div>
