<div style="margin: 120px; width: 70rem">
  <!-- :::::::::::::::::::::: -->
  <!-- ? Actual card    -->
  <!-- :::::::::::::::::::::: -->
  <div class="col-lg-4 col-md-6">
    <div class="single-courses-item mb-30">
      <div class="courses-image">
        <a href="single-courses.html" class="d-block"
          ><img [src]="imageProduct" alt="image"
        /></a>
      </div>

      <div class="courses-content">
        <div class="d-flex justify-content-between align-items-center">
          <div class="course-author d-flex align-items-center">
            <img [src]="imageTeacher" class="shadow" alt="image" />
            <span> {{ teacherName }} </span>
          </div>

          <!--? start Rating Stars -->
          <div class="courses-rating">
            <div class="review-stars-rated">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <div class="rating-total">4.0 (1)</div>
          </div>

          <!--::End Rating Stars -->
        </div>

        <h3>
          <a href="single-courses.html" class="d-inline-block">{{ title }}</a>
        </h3>
        <p>{{ description }}</p>
      </div>

      <div class="courses-box-footer">
        <ul>
          <li class="students-number"><i class="bx bx-user"></i> {{StudentsNum}} دانشجو</li>

          <li class="courses-lesson"><i class="bx bx-book-open"></i> {{courseNumbers}} درس</li>

          <li class="courses-price">
            <span *ngIf="isDiscount">{{prePrice}} </span>
            {{price}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--? just for refrence  -->
<!-- <div *ngFor='let item of list; index as i'>
   <h1>{{item}}</h1>
</div> -->