<svg width="160" height="292" viewBox="0 0 160 292" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.1">
<circle cx="91" cy="201" r="3" transform="rotate(-90 91 201)" fill="#008AC3"/>
<circle cx="91" cy="91" r="3" transform="rotate(-90 91 91)" fill="#008AC3"/>
<circle cx="91" cy="289" r="3" transform="rotate(-90 91 289)" fill="#008AC3"/>
<circle cx="91" cy="179" r="3" transform="rotate(-90 91 179)" fill="#008AC3"/>
<circle cx="91" cy="69" r="3" transform="rotate(-90 91 69)" fill="#008AC3"/>
<circle cx="91" cy="267" r="3" transform="rotate(-90 91 267)" fill="#008AC3"/>
<circle cx="91" cy="157" r="3" transform="rotate(-90 91 157)" fill="#008AC3"/>
<circle cx="91" cy="47" r="3" transform="rotate(-90 91 47)" fill="#008AC3"/>
<circle cx="91" cy="245" r="3" transform="rotate(-90 91 245)" fill="#008AC3"/>
<circle cx="91" cy="135" r="3" transform="rotate(-90 91 135)" fill="#008AC3"/>
<circle cx="91" cy="25" r="3" transform="rotate(-90 91 25)" fill="#008AC3"/>
<circle cx="91" cy="223" r="3" transform="rotate(-90 91 223)" fill="#008AC3"/>
<circle cx="91" cy="113" r="3" transform="rotate(-90 91 113)" fill="#008AC3"/>
<circle cx="91" cy="3" r="3" transform="rotate(-90 91 3)" fill="#008AC3"/>
<circle cx="135" cy="201" r="3" transform="rotate(-90 135 201)" fill="#008AC3"/>
<circle cx="135" cy="91" r="3" transform="rotate(-90 135 91)" fill="#008AC3"/>
<circle cx="135" cy="289" r="3" transform="rotate(-90 135 289)" fill="#008AC3"/>
<circle cx="135" cy="179" r="3" transform="rotate(-90 135 179)" fill="#008AC3"/>
<circle cx="135" cy="69" r="3" transform="rotate(-90 135 69)" fill="#008AC3"/>
<circle cx="135" cy="267" r="3" transform="rotate(-90 135 267)" fill="#008AC3"/>
<circle cx="135" cy="157" r="3" transform="rotate(-90 135 157)" fill="#008AC3"/>
<circle cx="135" cy="47" r="3" transform="rotate(-90 135 47)" fill="#008AC3"/>
<circle cx="135" cy="245" r="3" transform="rotate(-90 135 245)" fill="#008AC3"/>
<circle cx="135" cy="135" r="3" transform="rotate(-90 135 135)" fill="#008AC3"/>
<circle cx="135" cy="25" r="3" transform="rotate(-90 135 25)" fill="#008AC3"/>
<circle cx="135" cy="223" r="3" transform="rotate(-90 135 223)" fill="#008AC3"/>
<circle cx="135" cy="113" r="3" transform="rotate(-90 135 113)" fill="#008AC3"/>
<circle cx="135" cy="3" r="3" transform="rotate(-90 135 3)" fill="#008AC3"/>
<circle cx="113" cy="201" r="3" transform="rotate(-90 113 201)" fill="#008AC3"/>
<circle cx="113" cy="91" r="3" transform="rotate(-90 113 91)" fill="#008AC3"/>
<circle cx="113" cy="289" r="3" transform="rotate(-90 113 289)" fill="#008AC3"/>
<circle cx="113" cy="179" r="3" transform="rotate(-90 113 179)" fill="#008AC3"/>
<circle cx="113" cy="69" r="3" transform="rotate(-90 113 69)" fill="#008AC3"/>
<circle cx="113" cy="267" r="3" transform="rotate(-90 113 267)" fill="#008AC3"/>
<circle cx="113" cy="157" r="3" transform="rotate(-90 113 157)" fill="#008AC3"/>
<circle cx="113" cy="47" r="3" transform="rotate(-90 113 47)" fill="#008AC3"/>
<circle cx="113" cy="245" r="3" transform="rotate(-90 113 245)" fill="#008AC3"/>
<circle cx="113" cy="135" r="3" transform="rotate(-90 113 135)" fill="#008AC3"/>
<circle cx="113" cy="25" r="3" transform="rotate(-90 113 25)" fill="#008AC3"/>
<circle cx="113" cy="223" r="3" transform="rotate(-90 113 223)" fill="#008AC3"/>
<circle cx="113" cy="113" r="3" transform="rotate(-90 113 113)" fill="#008AC3"/>
<circle cx="113" cy="3" r="3" transform="rotate(-90 113 3)" fill="#008AC3"/>
<circle cx="157" cy="201" r="3" transform="rotate(-90 157 201)" fill="#008AC3"/>
<circle cx="157" cy="91" r="3" transform="rotate(-90 157 91)" fill="#008AC3"/>
<circle cx="157" cy="289" r="3" transform="rotate(-90 157 289)" fill="#008AC3"/>
<circle cx="157" cy="179" r="3" transform="rotate(-90 157 179)" fill="#008AC3"/>
<circle cx="157" cy="69" r="3" transform="rotate(-90 157 69)" fill="#008AC3"/>
<circle cx="157" cy="267" r="3" transform="rotate(-90 157 267)" fill="#008AC3"/>
<circle cx="157" cy="157" r="3" transform="rotate(-90 157 157)" fill="#008AC3"/>
<circle cx="157" cy="47" r="3" transform="rotate(-90 157 47)" fill="#008AC3"/>
<circle cx="157" cy="245" r="3" transform="rotate(-90 157 245)" fill="#008AC3"/>
<circle cx="157" cy="135" r="3" transform="rotate(-90 157 135)" fill="#008AC3"/>
<circle cx="157" cy="25" r="3" transform="rotate(-90 157 25)" fill="#008AC3"/>
<circle cx="157" cy="223" r="3" transform="rotate(-90 157 223)" fill="#008AC3"/>
<circle cx="157" cy="113" r="3" transform="rotate(-90 157 113)" fill="#008AC3"/>
<circle cx="157" cy="3" r="3" transform="rotate(-90 157 3)" fill="#008AC3"/>
<circle cx="3" cy="201" r="3" transform="rotate(-90 3 201)" fill="#008AC3"/>
<circle cx="3" cy="91" r="3" transform="rotate(-90 3 91)" fill="#008AC3"/>
<circle cx="3" cy="289" r="3" transform="rotate(-90 3 289)" fill="#008AC3"/>
<circle cx="3" cy="179" r="3" transform="rotate(-90 3 179)" fill="#008AC3"/>
<circle cx="3" cy="69" r="3" transform="rotate(-90 3 69)" fill="#008AC3"/>
<circle cx="3" cy="267" r="3" transform="rotate(-90 3 267)" fill="#008AC3"/>
<circle cx="3" cy="157" r="3" transform="rotate(-90 3 157)" fill="#008AC3"/>
<circle cx="3" cy="47" r="3" transform="rotate(-90 3 47)" fill="#008AC3"/>
<circle cx="3" cy="245" r="3" transform="rotate(-90 3 245)" fill="#008AC3"/>
<circle cx="3" cy="135" r="3" transform="rotate(-90 3 135)" fill="#008AC3"/>
<circle cx="3" cy="25" r="3" transform="rotate(-90 3 25)" fill="#008AC3"/>
<circle cx="3" cy="223" r="3" transform="rotate(-90 3 223)" fill="#008AC3"/>
<circle cx="3" cy="113" r="3" transform="rotate(-90 3 113)" fill="#008AC3"/>
<circle cx="3" cy="3" r="3" transform="rotate(-90 3 3)" fill="#008AC3"/>
<circle cx="47" cy="201" r="3" transform="rotate(-90 47 201)" fill="#008AC3"/>
<circle cx="47" cy="91" r="3" transform="rotate(-90 47 91)" fill="#008AC3"/>
<circle cx="47" cy="289" r="3" transform="rotate(-90 47 289)" fill="#008AC3"/>
<circle cx="47" cy="179" r="3" transform="rotate(-90 47 179)" fill="#008AC3"/>
<circle cx="47" cy="69" r="3" transform="rotate(-90 47 69)" fill="#008AC3"/>
<circle cx="47" cy="267" r="3" transform="rotate(-90 47 267)" fill="#008AC3"/>
<circle cx="47" cy="157" r="3" transform="rotate(-90 47 157)" fill="#008AC3"/>
<circle cx="47" cy="47" r="3" transform="rotate(-90 47 47)" fill="#008AC3"/>
<circle cx="47" cy="245" r="3" transform="rotate(-90 47 245)" fill="#008AC3"/>
<circle cx="47" cy="135" r="3" transform="rotate(-90 47 135)" fill="#008AC3"/>
<circle cx="47" cy="25" r="3" transform="rotate(-90 47 25)" fill="#008AC3"/>
<circle cx="47" cy="223" r="3" transform="rotate(-90 47 223)" fill="#008AC3"/>
<circle cx="47" cy="113" r="3" transform="rotate(-90 47 113)" fill="#008AC3"/>
<circle cx="47" cy="3" r="3" transform="rotate(-90 47 3)" fill="#008AC3"/>
<circle cx="25" cy="201" r="3" transform="rotate(-90 25 201)" fill="#008AC3"/>
<circle cx="25" cy="91" r="3" transform="rotate(-90 25 91)" fill="#008AC3"/>
<circle cx="25" cy="289" r="3" transform="rotate(-90 25 289)" fill="#008AC3"/>
<circle cx="25" cy="179" r="3" transform="rotate(-90 25 179)" fill="#008AC3"/>
<circle cx="25" cy="69" r="3" transform="rotate(-90 25 69)" fill="#008AC3"/>
<circle cx="25" cy="267" r="3" transform="rotate(-90 25 267)" fill="#008AC3"/>
<circle cx="25" cy="157" r="3" transform="rotate(-90 25 157)" fill="#008AC3"/>
<circle cx="25" cy="47" r="3" transform="rotate(-90 25 47)" fill="#008AC3"/>
<circle cx="25" cy="245" r="3" transform="rotate(-90 25 245)" fill="#008AC3"/>
<circle cx="25" cy="135" r="3" transform="rotate(-90 25 135)" fill="#008AC3"/>
<circle cx="25" cy="25" r="3" transform="rotate(-90 25 25)" fill="#008AC3"/>
<circle cx="25" cy="223" r="3" transform="rotate(-90 25 223)" fill="#008AC3"/>
<circle cx="25" cy="113" r="3" transform="rotate(-90 25 113)" fill="#008AC3"/>
<circle cx="25" cy="3" r="3" transform="rotate(-90 25 3)" fill="#008AC3"/>
<circle cx="69" cy="201" r="3" transform="rotate(-90 69 201)" fill="#008AC3"/>
<circle cx="69" cy="91" r="3" transform="rotate(-90 69 91)" fill="#008AC3"/>
<circle cx="69" cy="289" r="3" transform="rotate(-90 69 289)" fill="#008AC3"/>
<circle cx="69" cy="179" r="3" transform="rotate(-90 69 179)" fill="#008AC3"/>
<circle cx="69" cy="69" r="3" transform="rotate(-90 69 69)" fill="#008AC3"/>
<circle cx="69" cy="267" r="3" transform="rotate(-90 69 267)" fill="#008AC3"/>
<circle cx="69" cy="157" r="3" transform="rotate(-90 69 157)" fill="#008AC3"/>
<circle cx="69" cy="47" r="3" transform="rotate(-90 69 47)" fill="#008AC3"/>
<circle cx="69" cy="245" r="3" transform="rotate(-90 69 245)" fill="#008AC3"/>
<circle cx="69" cy="135" r="3" transform="rotate(-90 69 135)" fill="#008AC3"/>
<circle cx="69" cy="25" r="3" transform="rotate(-90 69 25)" fill="#008AC3"/>
<circle cx="69" cy="223" r="3" transform="rotate(-90 69 223)" fill="#008AC3"/>
<circle cx="69" cy="113" r="3" transform="rotate(-90 69 113)" fill="#008AC3"/>
<circle cx="69" cy="3" r="3" transform="rotate(-90 69 3)" fill="#008AC3"/>
</g>
</svg>
