<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }
</style>

<section *ngIf="teacher" class="section-body xl:p-0 px-10 bg-white">
   <h1 *ngIf="teacher" class="text-gray-400 my-4">خانه > اساتید> {{teacher.name}} </h1>
   <div class="m-auto text-center pt-5 pb-14">
      <h1 class="text-lg font-bold pb-2">مدرسین توان</h1>
      <p>همراه همیشگی شما</p>
   </div>
   <div class="flex flex-wrap  my-10  items-center">
      <div class="flex w-full items-center lg:flex-row flex-col-reverse justify-center lg:justify-start">
         <img class="rounded-full md:w-1/5" style="max-width: 200px; max-height: 200px;" src="{{teacher.image_path}}" alt="" />
         <div class="md:w-4/5 md:pr-14 w-full pb-6 md:pb-0 ">
            <p class="text-xl font-bold pb-2 text-center md:text-right">{{teacher.name}} - {{teacher.title}}</p>
            <hr class="bg-blue-100 border-blue-100 rounded-full" />
         </div>
      </div>
      <p class="my-10">{{teacher.description}}</p>
   </div>

</section>


<section *ngIf="this.courses" class=" pt-12 xl:px-0  bg-gray-100">

   <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-10 ">
      <div class="head flex justify-between px-6 mb-4 items-center">
         <h2 class="text-sm sm:text-base">دوره های درحال برگزاری</h2>
         <!-- TODO: Link should be FIX    -->
         <a
            class="rounded-md border-blue-500 px-4 py-1 md:px-8 md:py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 text-sm sm:text-base">مشاهده
            همه</a>
      </div>
      <div style="direction: ltr">
         <p-carousel [value]="this.courses" [numVisible]="3" [numScroll]="3"  [circular]="true" [autoplayInterval]='3500' 
            [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="header">
   
            </ng-template>
            <ng-template let-product pTemplate="item">
               <div class="product-item">
                  <div class="product-item-content">
                     <a [routerLink]="['webinar/',product.id]">
   
                        <card-course style="direction: rtl;" [course]="product"></card-course>
                     </a>
                  </div>
               </div>
            </ng-template>
         </p-carousel>
      </div>
   </div>
</section>