<!-- #  This is the MINI-Mobile slider menu -->
<div name="mobile-slider-menu" class="slider-menu bg-white fixed   overflow-y-scroll bottom-0 top-0 duration-200" style="z-index: 1000;"
	[ngClass]="{'w-0': showSideMenu == false, 'w-60': showSideMenu == true }">
	<div class="overflow-y-auto" [ngClass]="{' hidden': showSideMenu == false, 'block': showSideMenu == true }">
		<div class="flex justify-between mt-7 items-center">
			<svg-logo></svg-logo>
			<div (click)="showSideMenu = false" class=" ">
				<i class="fas fa-times text-gray-500 text-base px-5"></i>
			</div>
		</div>
		<div [routerLink]="['/']"  class="item text-lg  pr-8 my-4 cursor-pointer">
			{{DB_const.menu.home}}
		</div>
		<div [routerLink]="['/search', {isActive: true}]"   class="item text-lg  pr-8 my-4 cursor-pointer">
			{{DB_const.menu.online_workshop}}
		</div>
		<div [routerLink]="['/search', {isActive: false}]" class="item text-lg  pr-8 my-4 cursor-pointer">
			{{DB_const.menu.videos}}
		</div>
		<div class="item text-lg  pr-8 my-4 cursor-pointer " (click)="megaMenu=!megaMenu">
			{{DB_const.menu.category}}
			<i class="fas fa-chevron-down text-xs inline text-blue-500"></i>
		</div>
		<div *ngIf="this.categories" [ngClass]="{'w-0 hidden': megaMenu == false, 'w-full block': megaMenu == true }"
			class="category-collapse-item py-4 bg-gray-200 duration-200">
			<div *ngFor="let category of this.categories" class="item text-base   pr-8 my-4 cursor-pointer">
				<i [routerLink]="['/search', {categoryId: category.id}]" class="fas fa-circle inline text-blue-500 text-xs"></i>
				{{category.name}}
			</div>
			

		</div>
		<div [routerLink]="['/about']" class="item text-lg  pr-8 my-4 cursor-pointer">
			{{DB_const.menu.about_us}}
		</div>
		<div [routerLink]="['/contact']" class="item text-lg  pr-8 my-4 cursor-pointer">
			تماس با ما
		</div>
		<div [routerLink]="['/faq']" class="item text-lg  pr-8 my-4 cursor-pointer">
			{{DB_const.menu.faq}}
		</div>
		<div class="Tavan-num  border border-blue-500 rounded p-2 mx-4  cursor-pointer">
			<i class="fas fa-phone-square text-base inline text-orange-500"></i>
			<p class="inline text-base pr-1">پشتیبانی توان:239084</p>
		</div>
	</div>
</div>
<!-- .:: The Dark screen -->
<div (click)="showSideMenu = false" class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-30"
	[ngClass]="{'w-0': showSideMenu == false, 'w-full': showSideMenu == true }" style="z-index: 900;"></div>
<!-- .:: ### End dark-screen -->
<!-- ### End Slider menu -->

<!-- # menu bars Icon  -->
<div name="Mini-nav-btn" [ngClass]="{'translate-bar': textBannerIsActive == false }" 
	class="rounded-md border-blue-500 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 lg:hidden block absolute"
	style="top: 194px; right: 20px;" (click)="showSideMenu = true">
	<i class="fas fa-bars text-base py-2 px-3"></i>
</div>
<!-- ### END menu bars -->

<main class="flex flex-col justify-between">
	<div 
[ngClass]="{'h-0 opacity-0': textBannerIsActive == false}" 
		class="alert duration-100 bg-gray-100 flex-row flex justify-center items-center py-2 sticky top-0 z-50">
		<p class="text-gray-500 text-xs sm:text-sm">
			{{photos[1].name}}
			<a href="//{{photos[1].link}}">
				<span class="text-blue-500">اینجا</span>
			را کلیک کنید
			</a>
		</p>
		<button class=" md:mx-16  mx-4" (click)="textBannerIsActive = false"><i
				class="fas fa-times text-gray-500 text-sm"></i></button>
	</div>
	<section #header name="header" class=" ">
		<div class="header">
			<div class="flex flex-col justify-center m-auto max-h-full lg:hidden items-center mb-8">
				<svg-logo></svg-logo>
				<p class="title text-sm">{{DB_const.header.logo_description.line_one}}</p>
				<p class="description text-xs text-gray-800">{{DB_const.header.logo_description.line_two}}</p>
			</div>

			<div class="action-status max-w-1400 flex m-auto my-1 lg:mb-0 mb-8">
				<div class="flex flex-row justify-between w-full items-center mx-10">
					<section class="logo lg:flex flex-col justify-items-center items-center hidden z-0 mb-4">
						<svg-logo></svg-logo>
						<p class="title text-sm">{{DB_const.header.logo_description.line_one}}</p>
						<p class="description text-xs text-gray-800">{{DB_const.header.logo_description.line_two}}</p>
					</section>
					<div></div>

					<!-- ::. USER IS NOT LOGED-IN -->
					<div *ngIf="!loggedIn()"  class="action flex items-center z-30">
						<button-blue [Link]="DB_const.routeName.main.Login">
							{{DB_const.actionButton.signIn}}
						</button-blue>
						<button-blue [Link]="DB_const.routeName.main.Register">
							{{DB_const.actionButton.register}}
						</button-blue>
					</div>
					<!-- ::. ------------------------ -->

					<!-- ::. USER IS LOGIN -->
					<app-auth-status-bar *ngIf="loggedIn()"></app-auth-status-bar>
					<!-- ::. ------------------------ -->
				</div>
			</div>
		</div>
	</section>
	<div class="sticky-menu sticky top-10 z-50 hidden lg:block"
		[ngClass]="{'top-0': textBannerIsActive == false, 'top-10': textBannerIsActive == true }">
		<div class="navbar bg-blue-500">
			<section class="m-auto max-w-1400">
				<nav class="mx-10 py-4">
					<ul class="flex flex-row">
						<li>
							<a class="text-white hover:text-white duration-300 py-4 pl-8" [routerLink]="['/']">{{DB_const.menu.home}}</a>
						</li>
						<li>
							<a [routerLink]="['/search',{isActive: true}]" class="text-white hover:text-white duration-300 py-4 px-8"
							>{{DB_const.menu.online_workshop}}</a>
						</li>
						<li>
							<a [routerLink]="['/search',{isActive: false}]" class="text-white hover:text-white duration-300 py-4 px-8">{{DB_const.menu.videos}}</a>
						</li>
						<li class="relative">
							<a class="text-white hover:text-white duration-300 py-4 px-8 cursor-pointer"
								(click)="megaMenu=!megaMenu">{{DB_const.menu.category}}

								<i class="fas fa-chevron-down text-xs"></i>
							</a>
							<div class="mega-menu absolute bg-gray-200 py-4 pk-megaMenuClipper w-36 shadow-2xl rounded overflow-y-auto h-52"
								*ngIf="megaMenu">
								<ul *ngIf="this.categories">
								
									<li *ngFor="let category of this.categories" class="px-2 py-3 cursor-pointer"><a  [routerLink]="['/search', {categoryId: category.id}]"  >{{category.name}}</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a [routerLink]="['/about']" class="text-white hover:text-white duration-300 py-4 px-8"
								href="">{{DB_const.menu.about_us}}</a>
						</li>
						<li>
							<a [routerLink]="['/contact']" class="text-white hover:text-white duration-300 py-4 px-8"
								href="">تماس با ما</a>
						</li>
						<li>
							<a [routerLink]="['/faq']" class="text-white hover:text-white duration-300 py-4 px-8" href="">{{DB_const.menu.faq}}</a>
						</li>
					</ul>
				</nav>
			</section>
		</div>
	</div>

	<!-- .:: Body Router outlet  -->
	<section name="body" class="">
		<router-outlet></router-outlet>
	</section>
	<!-- .:: ### End of Body Router outlet  -->

	<section name="footer" class="">
		<app-main-footer> </app-main-footer>
	</section>
</main>



<!-- :: support phone button -->
<div *ngIf="goUpButtonScroll" class="support-btn sticky bottom-6  w-full flex justify-between" >
	<a href="tel:021-12345678">

		<i (click)="scrollToElement(header)"
			class="fas fa-phone text-lg py-2 px-3 ml-4 text-white mr-8 bg-orange-500 rounded-lg shadow-lg hover:shadow-none duration-200 hover:bg-orange-900"></i>
	</a>
	<i (click)="scrollToElement(header)"
		class="fas fa-chevron-up text-lg py-2 px-3 ml-4 text-white bg-blue-500 rounded-lg shadow-lg hover:shadow-none duration-200 hover:bg-blue-900"></i>
</div>

<!-- ::: ENF of support phone button -->