<!-- #  This is the MINI-Mobile slider menu -->
<div
	name="mobile-slider-menu"
	class="slider-menu bg-gray-100 fixed h-screen top-0 duration-200"
	style="z-index: 1000;"
	[ngClass]="{'w-0': showSideMenu == false, 'w-60': showSideMenu == true }"
>
	<div class="overflow-y-auto" [ngClass]="{' hidden': showSideMenu == false, 'block': showSideMenu == true }">
		<div class="flex justify-between mt-7 items-center">
			<svg-logo></svg-logo>
			<div (click)="showSideMenu = false" class=" ">
				<i class="fas fa-times text-gray-500 text-base px-5"></i>
			</div>
		</div>
		<div class="item font-bold pr-3 my-4"></div>
	</div>
</div>
<!-- .:: The Dark screen -->
<div
	(click)="showSideMenu = false"
	class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-50"
	[ngClass]="{'w-0': showSideMenu == false, 'w-full': showSideMenu == true }"
	style="z-index: 900;"
></div>
<!-- .:: ### End dark-screen -->
<!-- ### End Slider menu -->

<!-- # menu bars Icon  -->
<div
	name="Mini-nav-btn"
	class="rounded-md border-blue-500 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 lg:hidden block absolute"
	style="top: 180px; right: 20px;"
	(click)="showSideMenu = true"
>
	<i class="fas fa-bars text-base py-2 px-3"></i>
</div>
<!-- ### END menu bars -->

<main class="flex flex-col justify-between">
	<div class="alert bg-gray-100 flex-row flex justify-center items-center py-2 sticky top-0 z-50">
		<p class="text-gray-500 text-sm">
			برای مشاهده بیش از 300 ویدیو

			<span class="text-blue-500">اینجا</span>
			را کلیک کنید
		</p>
		<button class="mx-16"><i class="fas fa-times text-gray-500 text-sm"></i></button>
	</div>
	<section #header name="header" class=" ">
		<div class="header">
			<div class="flex flex-col justify-center m-auto max-h-full lg:hidden items-center mb-4">
				<svg-logo></svg-logo>
				<p class="title text-sm">{{DB_const.header.logo_description.line_one}}</p>
				<p class="description text-xs text-gray-800">{{DB_const.header.logo_description.line_two}}</p>
			</div>

			<div class="action-status max-w-1400 flex m-auto my-1 lg:mb-0 mb-8">
				<div class="flex flex-row justify-between w-full items-center mx-10">
					<section class="logo lg:flex flex-col justify-items-center items-center hidden z-0 mb-4">
						<svg-logo></svg-logo>
						<p class="title text-sm">{{DB_const.header.logo_description.line_one}}</p>
						<p class="description text-xs text-gray-800">{{DB_const.header.logo_description.line_two}}</p>
					</section>
					<div></div>
					<div class="action flex items-center z-30">
						<button
							class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200"
						>
							{{DB_const.actionButton.signIn}}
						</button>
						<button
							class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200"
						>
							{{DB_const.actionButton.register}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sticky-menu sticky top-10 z-50 hidden lg:block">
		<div class="navbar bg-blue-500">
			<section class="m-auto max-w-1400">
				<nav class="mx-10 py-4">
					<ul class="flex flex-row">
						<li>
							<a class="text-white hover:text-white duration-300 py-4 pl-8" href=""
								>{{DB_const.menu.home}}</a
							>
						</li>
						<li>
							<a class="text-white hover:text-white duration-300 py-4 px-8" href=""
								>{{DB_const.menu.online_workshop}}</a
							>
						</li>
						<li>
							<a class="text-white hover:text-white duration-300 py-4 px-8" href=""
								>{{DB_const.menu.videos}}</a
							>
						</li>
						<li class="relative">
							<a
								class="text-white hover:text-white duration-300 py-4 px-8 cursor-pointer"
								(click)="megaMenu=!megaMenu"
								>{{DB_const.menu.category}}

								<i class="fas fa-chevron-down text-xs"></i>
							</a>
							<div
								class="mega-menu absolute bg-gray-200 py-4 pk-megaMenuClipper w-36 shadow-2xl rounded"
								*ngIf="megaMenu"
							>
								<ul>
									<li class="px-2 py-3"><a href=""></a>{{DB_const.menu.category_child.one}}</li>
									<li class="px-2 py-3"><a href=""></a>{{DB_const.menu.category_child.two}}</li>

									<li class="px-2 py-3"><a href=""></a>{{DB_const.menu.category_child.three}}</li>
								</ul>
							</div>
						</li>
						<li>
							<a class="text-white hover:text-white duration-300 py-4 px-8" href=""
								>{{DB_const.menu.about_us}}</a
							>
						</li>
						<li>
							<a class="text-white hover:text-white duration-300 py-4 px-8" href=""
								>{{DB_const.menu.faq}}</a
							>
						</li>
					</ul>
				</nav>
			</section>
		</div>
	</div>

	<!-- .:: Body Router outlet  -->
	<section name="body" class="">
		<router-outlet></router-outlet>
	</section>
	<!-- .:: ### End of Body Router outlet  -->

	<section name="footer" class=""><app-main-footer> </app-main-footer></section>
</main>

<!-- # Go Up Button -->
<div *ngIf="goUpButtonScroll" class="go-up-btn sticky bottom-6 w-full " style="text-align: left;">
	<i
		(click)="scrollToElement(header)"
		class="fas fa-chevron-up text-lg py-2 px-3 ml-4 text-white bg-blue-500 rounded-lg shadow-lg hover:shadow-none duration-200 hover:bg-blue-900"
	></i>
</div>
<!-- ### ENF of Go Up Button -->
