<!-- Start Header Area -->
<header class="header-area">
	<div class="top-header" style="padding: 10px 0;">
		<div class="container">
			<div class="row align-items-center display-none-1024" style="padding: 12px 0;">
				<div class="col-lg-8">
					<ul class="top-header-contact-info">
						<li>
							<i class="bx bx-phone-call"></i>
							<span>تماس پشتیبانی</span>
							<a href="tel:02112345678">021-12345678</a>
						</li>
						<li>
							<i class="bx bx-map"></i>
							<span>مکان ما</span>
							<a href="#">ایران ، تهران</a>
						</li>
						<li>
							<i class="bx bx-envelope"></i>
							<span>پشتیبانی ایمیل</span>
							<a href="mailto:hello@raque.com">hello@raque.com</a>
						</li>
					</ul>
				</div>
				<div *ngIf="loggedIn()" class="col-lg-4">
					<div class="top-header-btn">
						<a *ngIf="role()" [routerLink]="['/admin/dashboard']" class="default-btn rounded-md"
							><i class="bx bx-log-in icon-arrow before"></i><span class="label">ورود پنل</span
							><i class="bx bx-log-in icon-arrow after"></i
						></a>
						<a *ngIf="role()=== false" [routerLink]="['/Customer/dashboard']" class="default-btn rounded-md"
							><i class="bx bx-log-in icon-arrow before"></i><span class="label">ورود پنل</span
							><i class="bx bx-log-in icon-arrow after"></i
						></a>
					</div>
				</div>

				<div *ngIf="!loggedIn()" class="col-lg-4">
					<div class="top-header-btn">
						<a [routerLink]="['/login']" class="default-btn rounded-md"
							><i class="bx bx-log-in icon-arrow before"></i><span class="label">ورود</span
							><i class="bx bx-log-in icon-arrow after"></i
						></a>
						<a [routerLink]="['/register']" class="default-btn rounded-md mx-2"
							><i class="bx bx-log-in icon-arrow before"></i><span class="label">ثبت نام</span
							><i class="bx bx-log-in icon-arrow after"></i
						></a>
					</div>
				</div>
			</div>

			<!-- mobile header  -->
			<div class="hidden flex-wrap w-full display-flex-1024 justify-between align-middle">
				<div class="mt-3">
					<a [routerLink]="['/login']" *ngIf="!loggedIn()" class="py-2 px-3 mx-3 rounded small-btn-1024"
						>ورود</a
					>
					<a [routerLink]="['/register']" *ngIf="!loggedIn()" class="py-2 px-3 rounded small-btn-1024"
						>ثبت نام</a
					>
				</div>
				<div class="pf-hum-menu-btn toggle-open my-2 text-white">
					<i
						class="fas fa-bars text-2xl cursor-pointer hover:bg-swatch-dark hover:text-swatch-green duration-300 p-1 rounded"
					></i>
				</div>
				<div *ngIf="loggedIn()" class="mt-2">
					<a [routerLink]="['/admin/dashboard']" *ngIf="role()" class="py-2 px-3 rounded small-btn-1024"
						>ورود پنل</a
					>
					<a
						[routerLink]="['/Customer/dashboard']"
						*ngIf="role()=== false"
						class="py-2 px-3 rounded small-btn-1024"
						>ورود پنل</a
					>
				</div>
				<a class="navbar-brand" href="/" style="padding: 0; margin: 0;">
					<img src="assets/img/logo.png" alt="logo" style="width: 200px;" />
				</a>
			</div>

			<div
				class="pk-menu hidden rounded-lg"
				style="
					z-index: 100;
					position: absolute;
					top: 100px;
					right: 10%;
					left: 10%;
					background-color: rgba(3, 3, 3, 0.527);
					margin: 0 auto;
				"
			>
				<a
					[routerLink]="['/home']"
					class="hover:bg-swatch-lightBlue text-white"
					style="
						display: block;
						padding: 10px 0;
						border-bottom: 1px rgba(255, 255, 255, 0.425) solid;
						margin: 0 20%;
					"
					routerLinkActive
					#landingHome="routerLinkActive"
					[ngClass]="
                    landingHome.isActive
                      ? 'bg-swatch-lightBlue'
                      : ''
                  "
					>خانه</a
				>

				<a
					[routerLink]="['/intro']"
					class="hover:bg-swatch-lightBlue text-white"
					style="
						display: block;
						padding: 10px 0;
						border-bottom: 1px rgba(255, 255, 255, 0.425) solid;
						margin: 0 20%;
					"
					routerLinkActive
					#landingSiteInterview="routerLinkActive"
					[ngClass]="
                    landingSiteInterview.isActive
                      ? 'bg-swatch-lightBlue'
                      : ''
                  "
					>آموزش سایت</a
				>

				<a
					[routerLink]="['/about']"
					class="hover:bg-swatch-lightBlue text-white"
					style="display: block; padding: 10px 0; margin: 0 20%;"
					routerLinkActive
					#landingAboutUs="routerLinkActive"
					[ngClass]="
                    landingAboutUs.isActive
                      ? 'bg-swatch-lightBlue'
                      : ''
                  "
					>درباره ما</a
				>
			</div>
			<!-- End Mobile Header  -->
		</div>
	</div>
	<!-- END header  -->

	<!--* =============================================================================================================================== -->

	<!-- Start Navbar Area -->
	<div class="navbar-area display-none-1024">
		<div class="raque-responsive-nav">
			<div class="container">
				<div class="raque-responsive-menu">
					<div class="logo">
						<a href="index-2.html">
							<img src="assets/img/black-logo.png" alt="logo" />
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="raque-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="/">
						<img src="assets/img/black-logo.png" alt="logo" />
					</a>

					<div class="collapse navbar-collapse mean-menu">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a
									[routerLink]="['/home']"
									class="nav-link"
									routerLinkActive
									#landingHome="routerLinkActive"
									[ngClass]="
                    landingHome.isActive
                      ? 'active'
                      : ''
                  "
									>خانه
								</a>
							</li>
							<!-- <li class="nav-item">
								<a
									[routerLink]="['/products']"
									class="nav-link"
									routerLinkActive
									#landingProducts="routerLinkActive"
									[ngClass]="
                    landingProducts.isActive
                      ? 'active'
                      : ''
                  "
									>محصولات</a
								>
							</li> -->

							<li class="nav-item">
								<a
									[routerLink]="['/intro']"
									class="nav-link"
									routerLinkActive
									#landingSiteInterview="routerLinkActive"
									[ngClass]="
                    landingSiteInterview.isActive
                      ? 'active'
                      : ''
                  "
									>آموزش سایت
								</a>
							</li>

							<li class="nav-item">
								<a
									[routerLink]="['/about']"
									class="nav-link"
									routerLinkActive
									#landingAboutUs="routerLinkActive"
									[ngClass]="
                    landingAboutUs.isActive
                      ? 'active'
                      : ''
                  "
									>درباره ما
								</a>
							</li>

							<!-- <li class="nav-item">
								<a
									[routerLink]="['/products/Single']"
									class="nav-link"
									routerLinkActive
									#landingProductDetails="routerLinkActive"
									[ngClass]="
                    landingProductDetails.isActive
                      ? 'active'
                      : ''"
									>جزییات محصول تکی</a
								>
							</li> -->
						</ul>

						<!-- <div class="others-option">
							<div class="dropdown language-switcher d-inline-block">
								<div class="dropdown-menu">
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/us-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Eng</span>
									</a>
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/germany-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Ger</span>
									</a>
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/france-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Fre</span>
									</a>
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/spain-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Spa</span>
									</a>
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/russia-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Rus</span>
									</a>
									<a href="#" class="dropdown-item d-flex align-items-center">
										<img src="assets/img/italy-flag.jpg" class="shadow-sm" alt="flag" />
										<span>Ita</span>
									</a>
								</div>
							</div>

							<a href="cart.html" class="cart-wrapper-btn d-inline-block">
								<i class="bx bx-cart-alt"></i>
								<span class="">01</span>
							</a>

							<div class="search-box d-inline-block">
								<i class="bx bx-search"></i>
							</div>
						</div> -->
					</div>
					<div class="mx-4" style="width: 60px;"></div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Navbar Area -->

	<!--* =============================================================================================================================== -->

	<!-- Start Sticky Navbar Area -->
	<div class="navbar-area header-sticky">
		<div class="raque-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="index-2.html">
						<img src="assets/img/black-logo.png" alt="logo" />
					</a>

					<div class="collapse navbar-collapse">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a
									[routerLink]="['/home']"
									class="nav-link"
									routerLinkActive
									#landingHome="routerLinkActive"
									[ngClass]="
                    landingHome.isActive
                      ? 'active'
                      : ''
                  "
									>خانه
								</a>
							</li>
							<!-- <li class="nav-item">
								<a
									[routerLink]="['/products']"
									class="nav-link"
									routerLinkActive
									#landingProducts="routerLinkActive"
									[ngClass]="
                    landingProducts.isActive
                      ? 'active'
                      : ''
                  "
									>محصولات</a
								>
							</li> -->

							<li class="nav-item">
								<a
									[routerLink]="['/intro']"
									class="nav-link"
									routerLinkActive
									#landingSiteInterview="routerLinkActive"
									[ngClass]="
                    landingSiteInterview.isActive
                      ? 'active'
                      : ''
                  "
									>آموزش سایت
								</a>
							</li>

							<li class="nav-item">
								<a
									[routerLink]="['/about']"
									class="nav-link"
									routerLinkActive
									#landingAboutUs="routerLinkActive"
									[ngClass]="
                    landingAboutUs.isActive
                      ? 'active'
                      : ''
                  "
									>درباره ما
								</a>
							</li>

							<!-- <li class="nav-item">
								<a
									[routerLink]="['/products/Single']"
									class="nav-link"
									routerLinkActive
									#landingProductDetails="routerLinkActive"
									[ngClass]="
                    landingProductDetails.isActive
                      ? 'active'
                      : ''"
									>جزییات محصول تکی</a
								>
							</li> -->
						</ul>
					</div>
					<div class="mx-4" style="width: 100px;"></div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Sticky Navbar Area -->
</header>
