<div class="slider">
   <figure>

      <div class="slide">
         <!-- <p class="p">slide one</p> -->
         <img src="https://robohash.org/sd" alt="">
   </div>
   <div class="slide">
      <!-- <p class="p">slide two</p> -->
      <img src="https://robohash.org/sd45" alt="">
   </div>
   <div class="slide">
      <!-- <p class="p">slide three</p> -->
      <img src="https://robohash.org/sdkh" alt="">
   </div>
   <div class="slide">
      <!-- <p class="p">slide four</p> -->
      <img src="https://robohash.org/sdaa" alt="">
   </div>
   <div class="slide">
      <!-- <p class="p">slide five</p> -->
      <img src="https://robohash.org/sd0sf" alt="">
   </div>
</figure>
</div>