<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }

</style>
<app-search-section photo="assets/img/_usefull/card-2.jpg"></app-search-section>
<section class="section-body xl:p-0 px-10">
   <h1 class="text-gray-400 my-4 text-right">{{DB_const.rules.nav}}</h1>
   
</section>

<section class="section-body bg-gray-100 rounded-lg  flex items-center flex-wrap p-10">

   <h1 class="text-gray-600 font-bold py-5 text-right">{{DB_const.rules.title}}</h1>
   <p >{{DB_const.rules.paragraph}} </p>
  
</section>