<footer class="max-w-1400 m-auto text-gray-700">
	<div class="description-section my-14 mx-6 lg:mx-0">
		<div class="flex flex-wrap flex-row items-center justify-between">
			<div class="description">
				<h2 class="font-bold text-lg mb-4">مجموعه فیزیوتراپی توان</h2>
				<p class="max-w-4xl text-sm">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
					و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
					کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
					آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
					ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
					تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
					دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
				</p>
			</div>
			<div class="medals flex pt-8">
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-medal></svg-medal>
				</div>
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-medal></svg-medal>
				</div>
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-transaction-medal></svg-transaction-medal>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-section bg-gray-100 rounded-sm py-5 px-8">
		<div class="flex flex-wrap justify-between">
			<ul class="list-disc text-blue-500 pl-24">
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">درباره ما</span></li>
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">تماس با ما</span></li>
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">پشتیبانی توان</span></li>
			</ul>
			<ul class="list-disc text-blue-500 px-24">
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">اساتید توان</span></li>
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">پرسش های رایج</span></li>
				<li class="py-4"><span class="text-gray-700 font-bold text-lg">شرایط و قوانین</span></li>
			</ul>
			<div class="address px-24">
				<h6 class="text-gray-700 font-bold text-lg py-4">آدرس:</h6>
				<div class="flex flex-wrap items-center">
					<i class="fas fa-map-marker-alt pl-4 text-orange-500"></i>
					<p class="max-w-xs">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
						چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
					</p>
				</div>
			</div>
			<div class="flex flex-col justify-center pr-24">
				<svg-logo></svg-logo>
			</div>
		</div>
	</div>
	<div class="social flex justify-between flex-wrap my-4">
		<div class="copy-right">
			<p>
				کلیه حقوق وب سایت<span>توان سانیار طب</span>محفوظ می باشد شماره ثبت: 588035 - شناسنامه ملی: 14009562246
			</p>
		</div>
		<div class="social-icon flex justify-between w-36 ">
			<app-svg-whatsapp></app-svg-whatsapp>
			<svg-instagram></svg-instagram>
			<svg-telegram></svg-telegram>
			<svg-aparat></svg-aparat>
		</div>
	</div>
</footer>
