<footer class="max-w-1400 m-auto text-gray-700">
	<div class="description-section my-14 mx-6 lg:mx-0">
		<div class="flex flex-wrap flex-row items-center justify-between">
			<div class="description">
				<h2 class="font-bold text-lg mb-4">{{DB_const.footer.who_we_are.title}}</h2>
				<p class="max-w-4xl text-sm">{{DB_const.footer.who_we_are.description}}</p>
			</div>
			<div class="medals flex pt-8">
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-medal></svg-medal>
				</div>
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-medal></svg-medal>
				</div>
				<div class="medal-item bg-gray-100 py-2 px-4 rounded-sm mx-4">
					<svg-transaction-medal></svg-transaction-medal>
				</div>
			</div>
		</div>
	</div>
	<div class="gray-section bg-gray-100 rounded-sm py-5 px-8  ">
		<div class="flex flex-wrap justify-between">
			<ul class="list-disc text-blue-500 pl-24    ">
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.first_col.one}} </span>
				</li>
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.first_col.two}}</span>
				</li>
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.first_col.three}}</span>
				</li>
			</ul>
			<ul class="list-disc text-blue-500  ">
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.second_col.one}}</span>
				</li>
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.second_col.two}}</span>
				</li>
				<li class="py-4">
					<span class="text-gray-700 font-bold 2xl:text-lg text-base">{{DB_const.footer.second_col.three}}</span>
				</li>
			</ul>
			<div class="address m-auto">
				<h6 class="text-gray-700 font-bold 2xl:text-lg  text-base py-4">{{DB_const.footer.address.title}}</h6>
				<div class="flex flex-wrap items-center w-full">
					<i class="fas fa-map-marker-alt pl-4 text-orange-500"></i>
					<p class="max-w-xs">
						{{DB_const.footer.address.address}}
					</p>
				</div>
			</div>
			<div class="m-auto">
				<svg-logo></svg-logo>
			</div>
		</div>
	</div>
	<div class="social flex justify-center lg:justify-between flex-wrap-reverse my-8 px-4 md:px-0">
		<div class="copy-right">
			<p class="max-h-96 my-4 lg:my-0">
				{{DB_const.footer.copy_right.leading}}
				<span class="text-blue-500"> {{DB_const.footer.copy_right.highlighted}}</span>
				{{DB_const.footer.copy_right.End}} {{DB_const.footer.copy_right.licence_num}}
			</p>
		</div>
		<div class="social-icon flex justify-between w-36">
			<app-svg-whatsapp></app-svg-whatsapp>
			<svg-instagram></svg-instagram>
			<svg-telegram></svg-telegram>
			<svg-aparat></svg-aparat>
		</div>
	</div>
</footer>
