<div class="flex flex-wrap mt-4">
   <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 pt-20">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
         <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
               <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                  <h3 class="font-semibold text-base text-gray-800">محتوای تیکت</h3>
               </div>
               <div class="relative w-full px-4 max-w-full flex-grow flex-1" style="text-align: left;">
                  <button [routerLink]="['/admin/newUser']"
                     class="bg-mesh-600 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all font-bold duration-150 hover:bg-transparent hover:text-mesh-700 border-2 border-transparent hover:border-mesh-600"
                     type="button">
                     Add new one
                  </button>
               </div>
            </div>
         </div>

         <div class="shadow rounded-sm p-6 ">
            <div class="flex flex-wrap  py-8">
               <div class="border border-gray-200 rounded-sm p-2 mx-4">mdhsk@gmail.com</div>
               <div class="border border-gray-200 rounded-sm p-2 mx-4">علی منشی</div>
               <div class="border border-gray-200 rounded-sm p-2 mx-4">12345654323</div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, perferendis odit alias dolorum sint
               amet nobis maxime harum quibusdam cupiditate laudantium. Explicabo magni, reprehenderit laborum quod
               numquam accusamus hic recusandae, exercitationem delectus placeat tenetur voluptates provident qui
               eveniet ut dignissimos mollitia quia velit optio ratione vero dolores. Facilis doloribus alias odit eaque
               voluptatibus qui, fugiat numquam itaque perferendis officiis cumque culpa nihil aliquid saepe quo maiores
               ea repellat praesentium, nostrum, molestiae adipisci eius. Impedit quaerat fugiat neque quia vero nihil
               necessitatibus nobis ipsa vel voluptatibus maiores porro rem aliquid, animi provident excepturi. Neque
               blanditiis maxime doloremque perferendis suscipit at minima mollitia aspernatur quasi officiis et itaque
               ab unde provident, eligendi laudantium repudiandae ratione nisi est sunt earum quidem. Praesentium eum
               dolores corporis provident explicabo. Vitae, incidunt eos harum perferendis autem dicta nemo consectetur
               sunt corporis. Enim molestiae a magnam sunt voluptate cupiditate dolore ipsum, omnis deserunt non
               suscipit consequatur expedita sed labore vero eligendi tenetur dicta? Porro eum amet dolorem animi
               architecto repellendus veritatis, dolore suscipit aspernatur natus hic laudantium, tempora corrupti!
               Totam vitae pariatur tenetur incidunt eaque dolore deserunt, voluptas facere! Reprehenderit eveniet ea
               voluptatem quia aut ad animi deleniti. Pariatur corrupti obcaecati id quisquam, vel, cum magnam ex
               aliquam repellendus iure a modi fugiat, repudiandae eos? Eligendi, ea at! Voluptates rem recusandae ipsa
               facere iste, soluta laboriosam ratione quos aut eum necessitatibus debitis commodi. Consequatur sequi
               porro pariatur.</p>
         </div>
      </div>
   </div>