<footer class="block py-4">
	<div class="container mx-auto px-4">
		<hr class="mb-4 border-b-1 border-gray-300" />
		<div class="flex flex-wrap items-center md:justify-between justify-center">
			<div class="w-full md:w-4/12 px-4">
				<div class="text-sm text-gray-600 font-semibold py-1 text-right md:text-left">
					<p class="text-right">
						کپی رایت 1399 <i class="bx bx-copyright"></i> تمامی حقوق محفوظ است. طراحی و توسعه با
						<a href="https://www.pnfteam.com" target="_blank">PNF Team</a>
					</p>
				</div>
			</div>
			<div class="w-full md:w-8/12 px-4">
				<ul class="flex flex-wrap list-none md:justify-end justify-center">
					<li>
						<a href="" class="text-gray-700 hover:text-gray-900 text-sm font-semibold block py-1 px-3">
							صفحه اصلی
						</a>
					</li>
					<li>
						<a href="" class="text-gray-700 hover:text-gray-900 text-sm font-semibold block py-1 px-3">
							درباره ما
						</a>
					</li>
					<li>
						<a href="" class="text-gray-700 hover:text-gray-900 text-sm font-semibold block py-1 px-3">
							آموزش سایت
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
