<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }
</style>

<section class="section-body xl:p-0 px-0 md:px-10">

   <!-- # Header ______-----________----------________---------_______----------_________  -->
   <h1 class="text-gray-400 my-4">{{DB_const.faq.nav}}</h1>
   <div class="m-auto text-center pt-5 pb-14">
      <h1 class="text-lg font-bold pb-2">{{DB_const.faq.titlePage}}</h1>
      <p>{{DB_const.faq.Slogan}}</p>
   </div>
   <!-- #__ End of Header _____------_____-------________---------_______----------_________  -->

   <!-- .:: Body   _______________________________________________________________________ -->
   <div class="flex flex-wrap xl:justify-between justify-center  items-center">

      <!-- :: The AKD Component ########################################################## -->
      <div *ngFor="let q of toggle ;let i = index" class="AKD bg-gray-100 px-5 py-7  w-full rounded-md my-4 ">
         <div class="flex justify-between items-center cursor-pointer " (click)='toggleFN(i)'>

            <p>وتس رد هلجم و همانزور هکلب نوتم و اهرگپاچ ،تسا کیفارگ ناحارط زا هدافتسا اب و ،پاچ تعنص زا موهفمان یگداس
               دیلوت اب یگتخاسنتم موسپیا مرول</p>

            <div class="pl-3 pr-16 relative">

               <i class="fas fa-minus text-blue-500  absolute"
                  [ngClass]="{'AKD_anime_open block ': q == true, 'AKD_anime_close ': q == false }"></i>
               <i class="fas fa-plus text-blue-500"
                  [ngClass]="{'AKD_anime_open': q == true, 'AKD_anime_close': q == false }">
               </i>
            </div>
         </div>
         <div [ngClass]="{'AKD_anime_close h-0 pt-0': q == false, 'AKD_anime_open h-full pt-10 ': q == true }"
            class="pt-10 text-gray-400 answer duration-300">
            <p>این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی
               است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن
               ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک
               متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی
               است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن
               ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک
               متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.این یک متن ساختگی است.
            </p>
         </div>
      </div>
      <!-- ::__ END AKD  ################################################################## -->

      <a href="" class="text-blue-500 text-center w-full hover:text-blue-900 my-8 duration-200">سوالات بیشتر</a>

      <!-- .:: ASK question section  ________________________   -->
      <section id="ask_question"
         class="w-full flex xl:flex-row flex-col items-center flex-wrap xl:justify-between my-10 px-4 md:px-0">
         <div class=" xl:w-1/2 w-full m-auto flex xl:flex-col flex-col-reverse">
            <p class="xl:mb-14 mb-2 xl:mt-2 mt-0 pl-5 text-center text-sm xl:text-base">
               {{DB_const.faq.askQuestion.title}}</p>
            <svg-faq class="xl:mb-0 mb-10"></svg-faq>
         </div>
         <div class="xl:w-1/2 w-full m-auto">
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">نام</label>
               <input name="email"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="نام خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">ایمیل</label>
               <input name="email"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="ایمیل خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">تلفن</label>
               <input name="email"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="تلفن خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">پیام شما</label>
               <textarea name="email" rows="4"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="پیام خود را وارد کنید" value=""></textarea>
            </div>
            <button
               class="submit-btn w-full rounded border border-blue-500 bg-transparent duration-200 hover:bg-blue-500 py-2 text-blue-500 hover:text-white text-center my-1 "
               type="submit">
               ارسال پیام
            </button>
         </div>
      </section>
      <!-- .::__END ASK question section  ___________________   -->

      <!-- :: Video TUTORIAL  section ____________________________________ -->
      <section id="video" class="bg-gray-100 px-4 md:px-10">
         <div class="head mx-4">

            <h1 class="text-2xl py-4"> {{DB_const.faq.video_tut.title}} </h1>
            <p class="text-gray-500 text-sm py-4">{{DB_const.faq.video_tut.description}} </p>
         </div>
         <div class="flex flex-wrap xl:flex-row flex-col items-center justify-center xl:justify-start">

            <div class="vodeo w-full  m-auto  p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full    p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>

         </div>
      </section>
      <!-- ::__END Video TUTORIAL_______________________________________ -->
      
   </div>
   <!-- .::__ END Body  ____________________________________________________________________ -->

</section>





<!-- !this section MUST be in component  -->
<section name="teachers" class="bg-blue-50 py-10 relative">
   <div class="dots-pattern absolute -top-28 right-2 hidden 2xl:block z-0">
      <svg-dots></svg-dots>
   </div>
   <div class="body max-w-1200 px-5 m-auto">
      <div class="flex justify-between items-center mb-7">
         <div class="lg:inline hidden"></div>
         <h2 class="font-bold text-2xl mb-8 flex mr-0 lg:mr-12">اساتید ما</h2>
         <a
            class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
            همه</a>
      </div>

      <div class="flex max-full m-auto items-center justify-between overflow-x-auto">
         <div class="right-arrow z-10 hidden md:inline">
            <i class="fas fa-chevron-right text-orange-500 py-4 px-5 bg-gray-100 rounded-full hover:shadow-lg"></i>
         </div>
         <div class="teacher-group flex flex-col items-center mx-4">
            <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-1.png" alt="" />
            <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
         </div>

         <div class="teacher-group flex flex-col items-center mx-4">
            <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-2.png" alt="" />
            <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
         </div>
         <div class="teacher-group flex flex-col items-center mx-4">
            <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-3.png" alt="" />
            <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
         </div>
         <div class="teacher-group flex flex-col items-center mx-4">
            <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-4.png" alt="" />
            <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
         </div>
         <div class="left-arrow z-20 hidden md:inline">
            <i class="fas fa-chevron-left text-orange-500 py-4 px-5 bg-gray-100 rounded-full hover:shadow-lg"></i>
         </div>
      </div>
   </div>
   <div class="dots-pattern absolute bottom-0 left-2 hidden 2xl:block z-0">
      <svg-dots></svg-dots>
   </div>
</section>