<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }
</style>
<app-search-section photo="assets/img/_usefull/card-2.jpg"></app-search-section>
<section class="section-body xl:p-0 px-0 md:px-10">

   <!-- # Header ______-----________----------________---------_______----------_________  -->
   <h1 class="text-gray-400 my-4">{{DB_const.faq.nav}}</h1>
   <div class="m-auto text-center pt-5 pb-14">
      <h1 class="text-lg font-bold pb-2">{{DB_const.faq.titlePage}}</h1>
      <p>{{DB_const.faq.Slogan}}</p>
   </div>
   <!-- #__ End of Header _____------_____-------________---------_______----------_________  -->

   <!-- .:: Body   _______________________________________________________________________ -->
   <div class="flex flex-wrap xl:justify-between justify-center  items-center">

      <!-- :: The AKD Component ########################################################## -->
      <div *ngFor="let q of toggle ;let i = index" class="AKD bg-gray-100 px-5 py-7  w-full rounded-md my-4 ">
         <div class="flex justify-between items-center cursor-pointer " (click)='toggleFN(i)'>

            <p>{{q.question}}</p>

            <div class="pl-3 pr-16 relative">

               <i class="fas fa-minus text-blue-500  absolute text-sm"
                  [ngClass]="{'AKD_anime_open  ': q.isOpen == true, 'AKD_anime_close ': q.isOpen == false }"></i>
               <i class="fas fa-plus text-blue-500"
                  [ngClass]="{'AKD_anime_open': q.isOpen == true, 'AKD_anime_close': q.isOpen == false }">
               </i>
            </div>
         </div>
         <div [ngClass]="{'AKD_anime_close h-0 pt-0': q.isOpen == false, 'AKD_anime_open h-full pt-10 ': q.isOpen == true }"
            class="pt-10 text-gray-400 answer duration-300">
            <p [innerHTML]="q.answer">
            </p>
         </div>
      </div>
      <!-- ::__ END AKD  ################################################################## -->

      <!-- <a href="" class="text-blue-500 text-center w-full hover:text-blue-900 my-8 duration-200">سوالات بیشتر</a> -->

      <!-- .:: ASK question section  ________________________   -->
      <form class="w-full" #ticketForm="ngForm" action="">
      <section id="ask_question "
         class="w-full flex xl:flex-row flex-col items-center flex-wrap xl:justify-between my-10 px-4 md:px-0">
         <div class=" xl:w-1/2 w-full m-auto flex xl:flex-col flex-col-reverse">
            <p class="xl:mb-14 mb-2 xl:mt-2 mt-0 pl-5 text-center text-sm xl:text-base">
               {{DB_const.faq.askQuestion.title}}</p>
            <svg-faq class="xl:mb-0 mb-10"></svg-faq>
         </div>
         <div class="xl:w-1/2 w-full m-auto">
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">نام و نام خانوادگی</label>
               <input [(ngModel)]="ticket.name" name="name"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="نام خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">ایمیل</label>
               <input [(ngModel)]="ticket.email" name="email"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="ایمیل خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">تلفن</label>
               <input [(ngModel)]="ticket.phoneNumber" name="phoneNumber"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="تلفن خود را وارد کنید" value="" />
            </div>
            <div class="form-item  py-3 w-full">
               <label class="block text-sm font-bold pb-1">پیام شما</label>
               <textarea [(ngModel)]="ticket.meesage" name="message" rows="4"
                  class="rounded bg-gray-100 outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="پیام خود را وارد کنید" value=""></textarea>
            </div>
            <button
               (click)="sendTicket()"
               class="submit-btn w-full rounded border border-blue-500 bg-transparent duration-200 hover:bg-blue-500 py-2 text-blue-500 hover:text-white text-center my-1 "
               type="submit">
               ارسال پیام
            </button>
         </div>
      </section>
   </form>
      <!-- .::__END ASK question section  ___________________   -->

      <!-- :: Video TUTORIAL  section ____________________________________ -->
      <section id="video" class="bg-gray-100 px-4 md:px-10">
         <div class="head mx-4">

            <h1 class="text-2xl py-4"> {{DB_const.faq.video_tut.title}} </h1>
            <p class="text-gray-500 text-sm py-4">{{DB_const.faq.video_tut.description}} </p>
         </div>
         <div class="flex flex-wrap xl:flex-row flex-col items-center justify-center xl:justify-start">

            <div class="vodeo w-full  m-auto  p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full   p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>
            <div class="vodeo w-full    p-6 md:w-1/2">
               <div class="mx-auto">
                  <div class="  bg-gray-400 rounded-md" style="width:280px ; height:200px;"></div>
                  <p class="mx-auto ">عنوان این ویدیو</p>

               </div>
            </div>

         </div>
      </section>
      <!-- ::__END Video TUTORIAL_______________________________________ -->

   </div>
   <!-- .::__ END Body  ____________________________________________________________________ -->

</section>





<!-- #  Dialog Box  PLEASE *-login-*   -->
<div class="  duration-200  centered  hidden p-4 rounded-md shadow bg-white"
   [ngClass]="{'hidden': dialog == false, 'w-screen fixed': dialog == true }"
   style="z-index: 1000;max-width: 500px;">


   <a class="text-left" mat-button mat-dialog-close (click)="hideDialog()"><i class="fas fa-times"></i></a>
   <div mat-dialog-content class="my-6 text-center flex  items-center justify-between flex-col">
      <div class="py-4 px-8">

         <h1 class="text-lg font-bold py-2">ورود / ثبت نام</h1>
         <!-- <p class="text-gray-400">لطفا ایمیل خود را وارد کنید</p> -->
      </div>
      <div class="py-6 px-2 w-96">
         <form #login="ngForm" class="my-4" action="">
            <div class="form-item  py-2">
               <label class="block font-bold pb-1 text-right">ایمیل</label>
               <input [(ngModel)]="model.email" name="email"
                  class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="ایمیل خود را وارد کنید" type="email" />
            </div>
            <div class="form-item  py-2">
               <label class="block font-bold pb-1 text-right">رمز عبور</label>
               <input [(ngModel)]="model.password" name="password"
                  class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="رمز خود را وارد کنید" type="password" />
            </div>
            <div class=" flex items-center flex-col justify-between mt-4">
               <button (click)="loginreal()"
                  class="submit-btn w-full rounded bg-blue-500 py-2 text-white text-center my-1" type="submit">
                  وارد شوید
               </button>
               <!-- <a (click)="openDialogNotLogin()" class="hover:text-blue-500 text-gray-500 my-4 text-sm cursor-pointer">رمز عبور
               خود را فراموش کردم</a> -->
               <a class="move-to-register w-full rounded border border-blue-500 text-center py-2  my-1"
                  routerLink="/register">
                  <span class="gray text-gray-500">حساب کاربری ندارید ؟</span>
                  <span class="blue text-blue-500 font-bold px-2">
                     عضویت در توان</span>
               </a>
            </div>
         </form>
      </div>
   </div>

</div>
<!-- ### End Dialog box-->


<!-- .:: The Dark screen -->
<div (click)="hideDialog()" class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-30 w-screen"
   [ngClass]="{'w-0': dialog == false, 'w-screen': dialog == true }" style="z-index: 900;">

</div>
<!-- .:: ### End dark-screen -->