<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }

 
</style>
<app-search-section photo="assets/img/_usefull/card-2.jpg"></app-search-section>
<section class="section-body xl:p-0 px-10">
   <h1 class="text-gray-400 my-4">خانه > اساتید</h1>
   <div class="m-auto text-center pt-5 pb-14">
      <h1 class="text-lg font-bold pb-2">مدرسین توان</h1>
      <!-- <p>{{DB_const.aboutUsPage.Slogan}}</p> -->
   </div>
   <div *ngIf="teachers" class="flex flex-wrap  justify-around my-10  items-center">
      
         <div *ngFor="let teacher of teachers" class="teacher-group flex flex-col items-center m-6">
          <a [routerLink]="['/teacher' , teacher.id]" >
            <div class="relative item-t flex items-center justify-center">
               <img class="rounded-full" style="max-width: 120px; max-height: 120px;" src="{{teacher.image_path}}" alt="" />
               <div class="dark-b bg-gray-800  absolute top-0 left-0 right-0 bottom-0 rounded-full">
               </div>
               <p class="text-white text-center absolute">مشاهده رزومه</p>
            </div> 
            <h2 class="mt-4 font-bold">{{teacher.name}}</h2>
          </a>
         </div>
      
   </div>

</section>
