.item-t{
transition: 350ms;
.dark-b{
   opacity: 0;
   transition: 350ms;
}
p{
   transition: 350ms;
   opacity: 0;
}
   &:hover{

      .dark-b{
      opacity: 80%;
      }
      p{
         opacity: 100%;
      }
   }
}