<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }

   /*  Google Map  */
   .mapouter {
      position: relative;
      text-align: right;
      max-height: 339px;
      max-width: 472px;
   }

   .gmap_canvas {
      overflow: hidden;
      background: none !important;
      max-height: 339px;
      max-width: 472px;
   }

   @media only screen and (min-width: 1250px) {

      iframe {
         width: 472px;
      }
   }
</style>
<app-search-section photo="assets/img/_usefull/card-2.jpg"></app-search-section>
<section class="section-body xl:p-0 px-10">
   <h1 class="text-gray-400 my-4">{{DB_const.contactUs.nav}}</h1>
   <div class="m-auto text-center pt-5 pb-14">
      <h1 class="text-lg font-bold pb-2">{{DB_const.contactUs.titlePage}}</h1>
      <p>{{DB_const.contactUs.Slogan}}</p>
   </div>
</section>

<section class="section-body bg-gray-100 rounded-lg  flex justify-center items-center flex-wrap">

   <form #tickerForm="ngForm" class="my-4 mx-auto">
      <h1 class="text-gray-600 font-bold py-5">{{DB_const.contactUs.form.title}}</h1>
      <div class="py-2">
         <label class="block font-bold pb-1 text-gray-400">{{DB_const.contactUs.form.filedLabel.name.lable}}</label>
         <input [(ngModel)]="ticket.name" name="name"
            class="rounded bg-white outline-none  focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput [placeholder]="DB_const.contactUs.form.filedLabel.name.hintText" value="" />
      </div>
      <div class="py-2">
         <label class="block font-bold pb-1 text-gray-400">{{DB_const.contactUs.form.filedLabel.email.lable}}</label>
         <input [(ngModel)]="ticket.email" name="email"
            class="rounded bg-white outline-none  focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput [placeholder]="DB_const.contactUs.form.filedLabel.email.hintText" value="" />
      </div>
      <div class="py-2">
         <label class="block font-bold pb-1 text-gray-400">{{DB_const.contactUs.form.filedLabel.phone.lable}}</label>
         <input [(ngModel)]="ticket.phoneNumber" name="phoneNumber"
            class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
            matInput [placeholder]="DB_const.contactUs.form.filedLabel.phone.hintText" value="" />
      </div>
      <div class="py-2">
         <label class="block font-bold pb-1 text-gray-400">{{DB_const.contactUs.form.filedLabel.massage.lable}}</label>
         <textarea [(ngModel)]="ticket.message" name="message"
            class="rounded bg-white outline-none border-gray-200 focus:border-blue-100 border p-3 w-full hover:shadow-md"
            name="massage" rows="4" cols="50"
            [placeholder]="DB_const.contactUs.form.filedLabel.massage.hintText"></textarea>

      </div>


      <div class="flex items-center flex-col justify-between mt-4">
         <button (click)="sendTicket()"
             class="submit-btn w-full rounded border border-blue-500 bg-transparent duration-200 hover:bg-blue-500 py-2 text-blue-500 hover:text-white text-center my-1 "
            type="submit">
            {{DB_const.contactUs.form.submitBtn}}
         </button>

      </div>
   </form>
   <div class="contact-info mx-auto my-4">
      <h1 class="text-gray-600 font-bold pb-5 pt-5">{{DB_const.contactUs.contactInfo.title}}</h1>
      <div class="flex py-2 text-sm">
         <svg-phone class="pl-4"></svg-phone>
         <P class="pl-4 font-bold">{{DB_const.contactUs.contactInfo.telephon.title}}</P>
         <p>{{DB_const.contactUs.contactInfo.telephon.value}}</p>
      </div>
      <div class="flex py-2 text-sm">
         <svg-mobile class="pl-4"></svg-mobile>
         <P class="pl-4 font-bold">{{DB_const.contactUs.contactInfo.mobile.title}}</P>
         <p>{{DB_const.contactUs.contactInfo.mobile.value}}</p>
      </div>
      <div class="flex py-2 text-sm">
         <svg-email class="pl-4"></svg-email>
         <P class="pl-4 font-bold">{{DB_const.contactUs.contactInfo.email.title}}</P>
         <p>{{DB_const.contactUs.contactInfo.email.value}}</p>
      </div>
      <div class="flex py-2 text-sm">
         <svg-location class="pl-4"></svg-location>
         <P class="pl-4 font-bold">{{DB_const.contactUs.contactInfo.address.title}}</P>
         <p>{{DB_const.contactUs.contactInfo.address.value}}</p>
      </div>
      <div class="flex py-2 text-sm">
         <svg-postcode class="pl-4"></svg-postcode>
         <P class="pl-4 font-bold">{{DB_const.contactUs.contactInfo.postCode.title}}</P>
         <p>{{DB_const.contactUs.contactInfo.postCode.value}}</p>
      </div>
      <div class="mapouter mt-3 mb-2">
         <div class="gmap_canvas"><iframe width="100%" height="339" id="gmap_canvas"
               src="https://maps.google.com/maps?q=tehran&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0"
               scrolling="no" marginheight="0" marginwidth="0"></iframe><a
               href="https://123movies-to.org">123movies</a><br>

            <a href="https://www.embedgooglemap.net">google map api for website</a>

         </div>
      </div>
   </div>
</section>




<!-- #  Dialog Box  PLEASE *-login-*   -->
<div class="  duration-200  centered  hidden p-4 rounded-md shadow bg-white"
   [ngClass]="{'hidden': dialog == false, 'w-screen fixed': dialog == true }" style="z-index: 1000;max-width: 500px;">


   <a class="text-left" mat-button mat-dialog-close (click)="hideDialog()"><i class="fas fa-times"></i></a>
   <div mat-dialog-content class="my-6 text-center flex  items-center justify-between flex-col">
      <div class="py-4 px-8">

         <h1 class="text-lg font-bold py-2">ورود / ثبت نام</h1>
         <!-- <p class="text-gray-400">لطفا ایمیل خود را درج کنید</p> -->
      </div>
      <div class="py-6 px-2 w-96">
         <form #login="ngForm" class="my-4" action="">
            <div class="form-item  py-2">
               <label class="block font-bold pb-1 text-right">ایمیل</label>
               <input [(ngModel)]="model.email" name="email"
                  class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="ایمیل خود را درج کنید" type="email" />
            </div>
            <div class="form-item  py-2">
               <label class="block font-bold pb-1 text-right">رمز عبور</label>
               <input [(ngModel)]="model.password" name="password"
                  class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                  matInput placeholder="رمز خود را درج کنید" type="password" />
            </div>
            <div class=" flex items-center flex-col justify-between mt-4">
               <button (click)="loginreal()"
                  class="submit-btn w-full rounded bg-blue-500 py-2 text-white text-center my-1" type="submit">
                  درج شوید
               </button>
               <!-- <a (click)="openDialogNotLogin()" class="hover:text-blue-500 text-gray-500 my-4 text-sm cursor-pointer">رمز عبور
               خود را فراموش کردم</a> -->
               <a class="move-to-register w-full rounded border border-blue-500 text-center py-2  my-1"
                  routerLink="/register">
                  <span class="gray text-gray-500">حساب کاربری ندارید ؟</span>
                  <span class="blue text-blue-500 font-bold px-2">
                     عضویت در توان</span>
               </a>
            </div>
         </form>
      </div>
   </div>

</div>
<!-- ### End Dialog box-->


<!-- .:: The Dark screen -->
<div (click)="hideDialog()" class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-30 w-screen"
   [ngClass]="{'w-0': dialog == false, 'w-screen': dialog == true }" style="z-index: 900;">

</div>
<!-- .:: ### End dark-screen -->