

<div class="flex flex-wrap mt-4">
   <div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 pt-20">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
         <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
               <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                  <h3 class="font-semibold text-base text-gray-800">سفارشات</h3>
               </div>
               <div class="relative w-full px-4 max-w-full flex-grow flex-1" style="text-align: left;">
                  <!-- <button [routerLink]="['/admin/newUser']"
                     class="bg-blue-500 text-white active:bg-indigo-600 text-xs uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all  duration-150 hover:bg-transparent hover:text-blue-900 border-2 border-transparent hover:border-blue-900"
                     type="button">
                     اضافه کردن استاد جدید
                  </button> -->
               </div>
            </div>
         </div>
         <div class="block w-full overflow-x-auto">
            <!-- Projects table -->

            <form *ngIf="courses" #courseForm="ngForm">
               <div class="flex   items-center ">
                  <label class="block uppercase text-gray-700 text-xs font-bold mb-2 pr-4" htmlFor="grid-password">
                     محصول
                  </label>
               <mat-form-field appearance="fill">
               
                  <mat-select name="productId">
                     <mat-option>None</mat-option>
                     <mat-option *ngFor="let course of courses" value="{{course.id}}">{{course.title}}</mat-option>
                  </mat-select>
               </mat-form-field>
               <!-- ! this is tricky  -->
               <div class=" text-white opacity-0">sdsdsd</div>   
                     <button
                        (click)="loadOrders()" 
                        class="bg-blue-500 hover:bg-blue-900 text-white hover:shadow-md duration-500 p-2 rounded-sm "
                        type="submit">
                        <i class="fa fa-plus-square"></i>
                        Filter
                     </button>
               </div>
            </form>
            <table *ngIf="orders" class="items-center w-full bg-transparent border-collapse">
               <thead>
                  <tr>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                        ردیف
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                       اسم محصول
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                        قیمت سفارش
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                       ایمیل کاربر
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                       تاریخ خرید
                     </th>
                     <th
                        class="px-6 bg-teal-200 text-mesh-700 align-middle border border-solid border-mesh-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-no-wrap font-semibold text-left">
                   وضعیت سفارش
                     </th>
                     

                  </tr>
               </thead>
               <tbody>

                  <tr *ngFor="let order of orders">
                     <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2 text-left">
                        {{order.id}}
                     </td>
                     <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2 text-left">
                        {{order.productName}}
                     </td>
                     <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2">
                      {{order.price}}تومان
                     </td>
                     <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2">
                        {{order.userEmail}}
                     </td>
                     <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2">
                        {{order.created_at}}
                     </td>
                     <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-base whitespace-no-wrap py-2">
                  <p *ngIf="order.isfinally" class="text-green-900">ok</p>
                  <p *ngIf="!order.isfinally" class="text-warning">not okey</p>
                     </td>

                    
                  </tr>
               </tbody>
            </table>
            <br>
            <br>

            <div class="col-lg-12 col-md-12 flex justify-center">
               <mat-paginator
               style="width: 100px;"
               type="number"
               *ngIf="orders"
               name="paginator"
                ngDefaultControl
               style="direction: ltr;"
               [length]="pag.totalItems"
               [pageSize]="pag.itemsPerPage"
               [(ngModel)]="pag.currentPage"
               (page)="pageEvent = pageChanged($event)"
            >
            </mat-paginator>
            </div>
         </div>

      </div>
   </div>