<div class="flex flex-wrap">
   <div class="w-full px-4 text-right">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
         <div class="rounded-t bg-teal-200 mb-0 px-6 py-6">
            <div class="text-center flex justify-start">
               <h3 class="text-gray-800 font-bold">
                  طراحی گرافیک معتبر با دوره پروژه رایگان
               </h3>
               <!-- <button
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">
            Settings
          </button> -->
            </div>
         </div>
         <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
            <!-- Start Courses Details Area -->
            <section class="courses-details-area pt-100 pb-70">
               <div class="container">
                  <div class="courses-details-header">

                  </div>

                  <div class="row">
                     <div class="col-lg-8">
                        <div class="courses-details-image text-center">
                           <img src="assets/img/courses/3.jpg" alt="image">
                        </div>

                        <div class="courses-details-desc">
                           <h3></h3>
                           <p><strong>سلام! به طراحی گرافیک معتبر و با دوره رایگان پروژه خوش آمدید ، تنها دوره ای که شما
                                 نیاز دارید
                                 تا یک تحلیلگر شوید.</strong></p>

                           <p>در اینجا جزئیات بیشتری درباره آنچه با دوره تحلیلگر کسب و کار کسب می کنید آورده شده است:
                           </p>

                           <div class="lg-col-10 text-center "><button
                                 class="bg-mesh-800 text-blue-100 hover:bg-white border-2 border-transparent hover:border-mesh-300  hover:text-mesh-700 hover:font-bold active:bg-teal-600  uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                 type="button"> ورود به کلاس آنلاین</button></div>

                           <h3>ویدئو دوره ها</h3>
                           <div class="courses-accordion">
                              <ul class="accordion">
                                 <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                       <i class='bx bx-chevron-down'></i>
                                       بخش 1: ری اکت جی اس - شروع کار
                                    </a>

                                    <div class="accordion-content show">
                                       <ul class="courses-lessons">
                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>

                                                <a href="#" class="lessons-title">مقدمه</a>

                                                <span class="preview">پیش نمایش</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>

                                                <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>

                                                <span class="preview">پیش نمایش</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>

                                                <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>

                                                <span class="preview">پیش نمایش</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>

                                                <a href="#" class="lessons-title">دنیای واقعی</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                <a href="#" class="attrachment-video" data-toggle="tooltip"
                                                   data-placement="top" title="Download Video"><i
                                                      class='bx bx-file'></i> فایل</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>

                                                <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>

                                 <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                       <i class='bx bx-chevron-down'></i>
                                       بخش 2: تازه کردن نسل بعدی جاوا اسکریپت
                                    </a>

                                    <div class="accordion-content">
                                       <ul class="courses-lessons">
                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>

                                                <a href="#" class="lessons-title">مقدمه</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>

                                                <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>

                                                <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>

                                                <a href="#" class="lessons-title">دنیای واقعی</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                <a href="#" class="attrachment-video" data-toggle="tooltip"
                                                   data-placement="top" title="Download Video"><i
                                                      class='bx bx-file'></i> فایل</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>

                                                <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>

                                 <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                       <i class='bx bx-chevron-down'></i>
                                       بخش 3: درک ویژگی های اصلی و نحوه
                                    </a>

                                    <div class="accordion-content">
                                       <ul class="courses-lessons">
                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>

                                                <a href="#" class="lessons-title">مقدمه</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>

                                                <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>

                                                <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>

                                                <a href="#" class="lessons-title">دنیای واقعی</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                <a href="#" class="attrachment-video" data-toggle="tooltip"
                                                   data-placement="top" title="Download Video"><i
                                                      class='bx bx-file'></i> فایل</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>

                                                <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>

                                 <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                       <i class='bx bx-chevron-down'></i>
                                       بخش 4: یک برنامه جدید واکنش ایجاد کنید
                                    </a>

                                    <div class="accordion-content">
                                       <ul class="courses-lessons">
                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>

                                                <a href="#" class="lessons-title">مقدمه</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>

                                                <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>

                                                <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>

                                                <a href="#" class="lessons-title">دنیای واقعی</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                <a href="#" class="attrachment-video" data-toggle="tooltip"
                                                   data-placement="top" title="Download Video"><i
                                                      class='bx bx-file'></i> فایل</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>

                                                <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>

                                 <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                       <i class='bx bx-chevron-down'></i>
                                       بخش 5: ادغام با سایر کتابخانه ها
                                    </a>

                                    <div class="accordion-content">
                                       <ul class="courses-lessons">
                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">01.</span>

                                                <a href="#" class="lessons-title">مقدمه</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 5 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">02.</span>

                                                <a href="#" class="lessons-title">چرا ری اکت جی اس؟</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 10 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">03.</span>

                                                <a href="#" class="lessons-title">برنامه وب ری اکت جی اس</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 15 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">04.</span>

                                                <a href="#" class="lessons-title">دنیای واقعی</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 50 دقیقه پیش</span>

                                                <a href="#" class="attrachment-video" data-toggle="tooltip"
                                                   data-placement="top" title="Download Video"><i
                                                      class='bx bx-file'></i> فایل</a>
                                             </div>
                                          </li>

                                          <li class="single-lessons">
                                             <div class="d-md-flex d-lg-flex align-items-center">
                                                <span class="number">05.</span>

                                                <a href="#" class="lessons-title">اضافه کردن نسخه مناسب ری اکت</a>

                                                <span class="locked">قفل شده</span>
                                             </div>

                                             <div class="lessons-info">
                                                <span class="duration" data-toggle="tooltip" data-placement="top"
                                                   title="Duration"><i class='bx bx-time'></i> 58 دقیقه پیش</span>

                                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw"
                                                   class="attrachment-video popup-youtube" data-toggle="tooltip"
                                                   data-placement="top" title="Play Video"><i
                                                      class='bx bx-play-circle'></i>
                                                   ویدئو</a>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>
                              </ul>
                           </div>






                        </div>


                     </div>

                     <div class="col-lg-4">
                        <div class="courses-sidebar-information">
                           <ul>
                              <li>
                                 <span><i class='bx bx-group'></i> دانشجویان:</span>
                                 10
                              </li>
                              <li>
                                 <span><i class='bx bx-time'></i> مدت:</span>
                                 1 هفته
                              </li>
                              <li>
                                 <span><i class='bx bx-tachometer'></i> تلاش:</span>
                                 2–5 ساعت در هفته
                              </li>
                              <li>
                                 <span><i class='bx bxs-institution'></i> موسسه، نهاد:</span>
                                 <a href="#" class="d-inline-block">تم فارست</a>
                              </li>
                              <li>
                                 <span><i class='bx bxs-graduation'></i> موضوع:</span>
                                 طراحی
                              </li>
                              <li>
                                 <span><i class='bx bx-atom'></i> آزمونها:</span>
                                 بله
                              </li>
                              <li>
                                 <span><i class='bx bxs-badge-check'></i> سطح:</span>
                                 صنعت
                              </li>
                              <li>
                                 <span><i class='bx bx-support'></i> زبان:</span>
                                 انگلیسی
                              </li>
                              <li>
                                 <span><i class='bx bx-text'></i> زیرنویس ویدئو:</span>
                                 انگلیسی
                              </li>
                              <li>
                                 <span><i class='bx bx-certification'></i> تایید شده:</span>
                                 بله
                              </li>
                           </ul>
                        </div>

                        

                        
                     </div>
                  </div>
               </div>
            </section>
            <!-- End Courses Details Area -->
         </div>
      </div>
   </div>
</div>