<div class="flex flex-wrap">
	<div class="w-full  text-right">
		<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
			<div class="rounded-t bg-teal-200 mb-0 px-6 py-6">
				<div class="text-center flex justify-start">
					<h3 class="text-gray-800 font-bold">
						{{course.title}}
					</h3>
					<!-- <button
            class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">
            Settings
          </button> -->
				</div>
			</div>
			<div class="flex-auto px-4 lg:px-10 py-10 pt-0">
				<!-- Start Courses Details Area -->
				<section class="courses-details-area pt-100 pb-70">
					<div class="container">
						<div class="courses-details-header"></div>

						<div class="row">
							<div class="col-lg-8">
								<div class="courses-details-image text-center">
									<img src="{{course.media.photoUrl}}" alt="image" />
								</div>

								<div class="courses-details-desc">
									<h3>شرح دوره</h3>
									<p>
										{{course.description}}
									</p>
									<h3 style="margin-bottom: 10px;">مباحث دوره</h3>
									<p>{{course.titres}}</p>

									<a href="{{course.url}}"
										><div class="lg-col-10 text-center">
											<button
												class="bg-mesh-800 text-blue-100 hover:bg-white border-2 border-transparent hover:border-mesh-300 hover:text-mesh-700 hover:font-bold active:bg-teal-600 uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
												type="button"
											>
												ورود به کلاس آنلاین
											</button>
										</div></a
									>

									<h3>ویدئو دوره ها</h3>

									<!-- speace  -->
									<div style="margin-top: 20px;"></div>
									<!-- speace  -->

									<!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
									<mat-accordion *ngIf="course.videos" class="duration-500">
										<mat-expansion-panel
											*ngFor="let video of course.videos"
											class="duration-500"
											(opened)="panelOpenState1 = true"
											(closed)="panelOpenState1 = false"
										>
											<mat-expansion-panel-header>
												<mat-panel-title class="font-bold text-black fa-vazir vazir">
													{{video.title}}
												</mat-panel-title>
												<mat-panel-description
													class="duration-200"
													[ngClass]="
                                       panelOpenState1
                                          ? 'text-red-600 font-bold'
                                          : 'text-gray-300 hover:text-red-300'
                                       "
												>
													{{panelOpenState1 ? 'open' : 'closed'}}
												</mat-panel-description>
											</mat-expansion-panel-header>
											<div class="lessons-info">
												<span
													class="duration"
													data-toggle="tooltip"
													data-placement="top"
													title="Duration"
													><i class="bx bx-time"></i> 58 دقیقه پیش</span
												>
												<div style="margin-top: 15px; display: block;"></div>
												<div class="h_iframe-aparat_embed_frame">
													<span style="display: block; padding-top: 57%;"></span
													><iframe
														[src]="video.url | arvan"
														allowfullscreen="true"
														webkitallowfullscreen="true"
														mozallowfullscreen="true"
													></iframe>
												</div>
											</div>
										</mat-expansion-panel>
									</mat-accordion>
									<!-- end akardeon :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  -->
								</div>
							</div>

							<div class="col-lg-4">
								<div class="courses-sidebar-information">
									<ul>
										<li>
											<span><i class="bx bx-group"></i> تاریخ شروع:</span>
											{{course.started}}
										</li>
										<li>
											<span><i class="bx bx-time"></i>تاریخ پایان</span>
											{{course.started}}
										</li>
										<li>
											<span><i class="bx bx-tachometer"></i> روزهای دوره:</span>
											{{course.courseDays}}
										</li>
										<li>
											<span><i class="bx bx-group"></i> وضعیت دوره</span>

											<p *ngIf="course.isActive">
												درحال برگزاری
											</p>
											<p *ngIf="!course.isActive">
												برگزارشده
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Courses Details Area -->
			</div>
		</div>
	</div>
</div>
