
<style>
  .login-body {
    max-width: 1200px;
    margin: auto;
  }
  .ltr {
    direction: ltr;
  }
</style>
<section class="login-body">
  <h1 class="text-gray-400 my-4">خانه > ورود کاربران</h1>
  <div class="login-card flex justify-between rounded-md bg-gray-100 p-8 flex-col lg:flex-row items-center">
    <div class="form-field w-full">
       <div class="mx-auto">

          <h1 class="text-xl">ورود کاربران</h1>
          <p class="text-sm text-gray-500 pt-1">
            ما به حفظ اطلاعات شخصی شما متعهدیم
          </p>
          <form class="my-4" action="">
            <div class="md:w-5/6   form-item  py-2">
              <label class="block font-bold pb-1">ایمیل</label>
              <input
                class="rounded bg-white border-gray-100 border p-3 w-full shadow-md"
                matInput
                placeholder="ایمیل خود را وارد کنید"
                value=""
              />
            </div>
            <div class="md:w-5/6   form-item  py-2">
              <label class="block font-bold pb-1">ایمیل</label>
              <input
                class="rounded bg-white border-gray-100 border p-3 w-full shadow-md"
                matInput
                placeholder="ایمیل خود را وارد کنید"
                value=""
              />
            </div>
            <div class="md:w-5/6   form-item  py-2">
              <label class="block font-bold pb-1">ایمیل</label>
              <input
                class="rounded bg-white border-gray-100 border p-3 w-full shadow-md"
                matInput
                placeholder="ایمیل خود را وارد کنید"
                value=""
              />
            </div>
            <div class="md:w-5/6   form-item  py-2">
              <label class="block font-bold pb-1">ایمیل</label>
              <input
                class="rounded bg-white border-gray-100 border p-3 w-full shadow-md"
                matInput
                placeholder="ایمیل خود را وارد کنید"
                value=""
              />
            </div>
            <div class="md:w-5/6   form-item  py-2">
              <label class="block font-bold pb-1">رمز عبور</label>
              <input
                class="rounded bg-white border-gray-100 border p-3 w-full shadow-md"
                matInput
                placeholder="رمز خود را وارد کنید"
                value=""
              />
            </div>
            <div class="md:w-5/6    flex items-center flex-col justify-between mt-4">
              <button
                class="submit-btn w-full rounded bg-blue-500 py-2 text-white text-center my-1"
                type="submit"
              >
                وارد شوید
              </button>
              <a class="hover:text-blue-500 text-gray-500 my-4 text-sm" href=""
                >رمز عبور خود را فراموش کردم</a
              >
              <a
                class="move-to-register w-full rounded border border-blue-500 text-center py-2  my-1"
                href=""
              >
                <span class="gray text-gray-500">حساب کاربری ندارید ؟</span>
                <span class="blue text-blue-500 font-bold px-2">
                  عضویت در توان</span
                >
              </a>
            </div>
          </form>
       </div>
    </div>
    <svg-register  class="w-full"></svg-register>
   
  </div>
</section>
