<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0 "
>
  <!-- Start Courses Area -->
  <section class="courses-area ptb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/1.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user1.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star-half"></i>
                  </div>

                  <div class="rating-total">4.5 (2)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">رایگان</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/2.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user2.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star-half"></i>
                  </div>

                  <div class="rating-total">4.5 (2)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">250 تومان</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/3.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user3.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </div>

                  <div class="rating-total">4.0 (1)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">150 تومان</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/4.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user4.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </div>

                  <div class="rating-total">4.0 (1)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">
                  <span>200 تومان</span>
                  195 تومان
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/5.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user5.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                  </div>

                  <div class="rating-total">5.0 (1)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">75 تومان</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single-courses-item mb-30">
            <div class="courses-image">
              <a   [routerLink]="['/admin/editCourse']" class="d-block"
                ><img src="assets/img/courses/6.jpg" alt="image"
              /></a>
            </div>

            <div class="courses-content">
              <div class="d-flex justify-content-between align-items-center">
                <div class="course-author d-flex align-items-center">
                  <img src="assets/img/user6.jpg" class="shadow" alt="image" />
                  <span>استیون اسمیت</span>
                </div>

                <div class="courses-rating">
                  <div class="review-stars-rated">
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bxs-star"></i>
                    <i class="bx bx-star"></i>
                  </div>

                  <div class="rating-total">4.0 (1)</div>
                </div>
              </div>

              <h3>
                <a   [routerLink]="['/admin/editCourse']" class="d-inline-block"
                  >دوره گواهینامه فناوری اطلاعات تخصصی راک</a
                >
              </h3>
              <p>آموزش شامل آموزش و یادگیری دانش است.</p>
            </div>

            <div class="courses-box-footer">
              <ul>
                <li class="students-number">
                  <i class="bx bx-user"></i> 10 دانشجو
                </li>

                <li class="courses-lesson">
                  <i class="bx bx-book-open"></i> 6 درس
                </li>

                <li class="courses-price">500 تومان</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="pagination-area text-center">
            <pagination 
            [boundaryLinks]="true" 
            [totalItems]="5"
            [itemsPerPage]="3"
           previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
            <span class="page-numbers current" aria-current="page">1</span>
            <a href="#" class="page-numbers">2</a>
            <a href="#" class="page-numbers">3</a>
            <a href="#" class="page-numbers">4</a>
            <a href="#" class="page-numbers">5</a>
            <a href="#" class="next page-numbers"
              ><i class="bx bx-chevron-left"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Courses Area -->
</div>
