<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0">
	<!-- Start Courses Area -->
	<section class="courses-area ptb-100">
		<div class="container">
			<div *ngIf="courses" class="flex flex-wrap ">
				<div *ngFor="let course of courses" class="col-lg-4 col-md-6">


					<!-- :: ::  Just Add your Details Hear :: :: -->
					<a [routerLink]="['/admin/editCourse', course.id]" routerLinkActive="router-link-active" >
					<card-course [course]="course"></card-course>
					</a>
					<!-- :: ::  End of your Details Hear :: :: -->


				</div>
			</div>
			<div class="col-lg-12 col-md-12 flex justify-center my-10">
				<mat-paginator style="width: 100px;" type="number" *ngIf="courses" name="paginator" ngDefaultControl
					style="direction: ltr;" [length]="pag.totalItems" [pageSize]="pag.itemsPerPage"
					[(ngModel)]="pag.currentPage" (page)="pageEvent = pageChanged($event)">
				</mat-paginator>
			</div>
		</div>
	</section>
	<!-- End Courses Area -->
</div>