<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }
</style>
<div *ngIf="course" class="bg-gray-100 pt-4 pb-14">

   <section class="section-body xl:p-0 px-10 ">
      <h1 class="text-gray-400 my-4">خانه > کارگاه های آنلاین</h1>



      <div class="flex justify-between  my-10  items-start  ">

         <div class="bg-white rounded-md  ">
            <img class="rounded-md" src="{{course.media.photoUrl}}" alt="">
            <div class="px-4  ">


               <div class="flex justify-between py-4">
                  <p class="text-xl">{{course.title}}</p>
                  <span class="rounded border border-gray-100 border-solid p-1 mx-2"><i
                        class="fas fa-star text-yellow-500"></i>
                     4.2
                  </span>
               </div>
               <p class="text-blue-500 py-2">نمونه تدریس</p>
               <div class="flex py-2">
                  <i class="pi  pi-calendar text-orange-500 pl-1"></i>
                  <p class="font-bold">شروع وبینار :</p>
                  <p class="px-2">{{course.started}}</p>
               </div>
               <div class="flex py-2 items-start">
                  <i class="pi  pi-calendar text-orange-500 pl-1"></i>
                  <p class="font-bold ">مدت زمان آموزش :</p>
                  <p class="px-2">{{course.hours}}</p>
               </div>
               <div class="flex py-2">

                  <p class="font-bold pt-4">تاریخ جلسات :</p>
                  <div class="flex flex-wrap">
                     <p *ngFor="let session of course.sessions" class="p-4">{{session.time}}</p>
                  </div>
               </div>
               <p class="text-xl">اساتید دوره</p>
               <div class="flex justify-evenly flex-wrap items-center">
                  <div *ngFor="let courseTeacher of course.courseTeachers" class="flex justify-center items-center">
                     <img class="rounded-full" src="{{courseTeacher.teacher.image_path}}" alt="teacher">
                     <div class="px-2">

                        <p class="font-bold px-1">{{courseTeacher.teacher.name}}</p>
                        <p class="text-sm px-1">{{courseTeacher.teacher.name}}</p>
                     </div>
                  </div>
               </div>
               <p class="text-xl py-2">خرید دوره</p>
               <div class="flex  justify-evenly my-8">
                  <div class=" w-full flex flex-col items-stretch px-3">
                     <div class="flex justify-between my-3">
                        <p>{{course.title}}</p>
                        <p class="text-blue-500">{{course.realCost}} تومان</p>
                     </div>
                     <a
                     *ngIf="!course.isActive && !course.isfor"
                     (click)="buyCourse()"
                        class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                        ویدیو دوره </a>
                     <a
                     (click)="buyCourse()"
                     *ngIf="course.isActive && !course.isfor"
                        class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                         دوره</a>
                        <a
                     *ngIf="course.isfor && course.isActive"
                        class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">
                         ورود به وبینار</a>
                     <form #offForm="ngForm">
                        <div class="flex items-center my-3 w-full">
                           <input name="code" [(ngModel)]="off.code" class="outline-none bg-gray-200 focus:bg-gray-100 duration-100 py-2 px-2 rounded-r "
                              type="text" placeholder="کد تخفیف خود را وارد کنید">
                           <a (click)="getOff()" class="rounded-l py-2 px-2 duration-100 bg-blue-500 hover:shadow-md cursor-pointer text-white ">اعمال</a>
                        </div>
                     </form>
                     <p *ngIf="off.code" class="text-sm text-gray-400">مبلغ {{course.realCost * course.off / 100}} هزار تومان تخفیف اعمال شد</p>
                     <h1 class="text-lg text-center pt-6 pb-3 font-bold ">حامیان دوره</h1>
                     <div *ngIf="course.media.spPhotoUrl" class="flex items-center justify-center flex-col" >
                        <img class="rounded-full w-36" src="{{course.media.spPhotoUrl}}" alt="اسپانسر">
                        <p class="text-center py-2">حامی اول</p>
                     </div>
                  </div>
                  <div class=" w-full flex flex-col px-3 ">
                     <h1 class="text-xl font-bold">سرفصل ها</h1>
                     <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                        <hr class="border border-blue-100 rounded-full opacity-50" />
                        <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
                     </div>

                     <div class="session"  [innerHTML]="course.titres">
                    
                     </div>
                     <div class="py-4 flex flex-wrap items-center">

                        <h1 class="text-xl font-bold m2 p2">دسته بندی</h1>
                        <div *ngFor="let categoryCourse of course.categoryCourses" class="p-2 m-2 rounded bg-gray-200 text-sm">
                           {{categoryCourse.category.name}} 
                        </div>
                        
                     </div>

                  </div>
               </div>
               <div  class="flex justify-end items-center">
                  <a class="text-orange-500 px-3" href="">دانلود فایل پی دی اف
                     <i class="pi pi-download px-2"></i>
                  </a>
                  <!-- <p-dropdown *ngIf="course.videos" class="bg-blue-100" [options]="course.videos" optionLabel="title"></p-dropdown> -->
                  <select (change)="getUrl($event)" style="width: 80px;">
                     <option  *ngFor="let video of course.videos"   value="{{video.url}}">{{video.title}}</option>
                  </select>
               </div>
               <div class="video rounded-2xl w-full h-80 bg-gray-200 my-6">
                  <div *ngIf="course.videos" class="r1_iframe_embed">
							<iframe 
								[src]="this.url | arvan"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen="true"
								webkitallowfullscreen="true"
								mozallowfullscreen="true"
							></iframe>
						</div>
               </div>
               <h1 class="text-xl font-bold">توضیحات وبینار</h1>
               <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                  <hr class="border border-blue-100 rounded-full opacity-50" />
                  <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
               </div>
               <div class="flex flex-wrap">

                  <p class="pl-0 md:pl-10 mb-10 " style="max-width: 700px;"  [innerHTML]="course.description"></p>
               </div>
               <h1 class="text-xl font-bold">ویدیو معرفی دوره</h1>
               <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                  <hr class="border border-blue-100 rounded-full opacity-50" />
                  <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
               </div>
               <div class="video rounded-2xl w-full h-80 bg-gray-200 my-8">
                  <div *ngIf="course.media.videoUrl" class="r1_iframe_embed">
							<iframe 
								[src]="course.media.videoUrl | arvan"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen="true"
								webkitallowfullscreen="true"
								mozallowfullscreen="true"
							></iframe>
						</div>
               </div>
            </div>
         </div>

         <div class="px-10 w-5/12 flex flex-col items-stretch">

            <div class="bg-white flex flex-col py-5 px-4  rounded-md">
               <p class="font-bold text-lg py-6 text-center">مدرسین دوره</p>
               <div class="flex-col flex flex-wrap ">
                  <div *ngFor="let courseteacher of course.courseTeachers" class="flex justify-center items-center py-3">
                     <img class="rounded-full" src="{{courseteacher.teacher.image_path}}" alt="teacher" style="width:120px">
                     <div class="px-2">
   
                        <p class="font-bold px-1">{{courseteacher.teacher.name}}</p>
                        <p class="text-sm px-1">{{courseteacher.teacher.name}}</p>
                     </div>
                  </div>
   
              
               </div>
            </div>
            <div class="bg-white flex flex-col py-5 px-10 my-7 rounded-md">
               <p class="font-bold text-lg py-6">خرید وبینار</p>
            <div class=" w-full flex flex-col items-stretch px-3">
               <div class="flex justify-between my-3">
                  <p>{{course.title}}</p>
                  <p class="text-blue-500">{{course.realCost}} تومان</p>
               </div>
               <a *ngIf="!course.isActive && !course.isfor"
               (click)="buyCourse(course.id)"
                  class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                  ویدیو دوره</a>
               <a *ngIf="course.isActive && !course.isfor"
               (click)="buyCourse(course.id)"
                  class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                   دوره</a>
               <a *ngIf="course.isfor && course.isActive"
                  class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">
                  ورود به وبینار</a>

               <form #offForm="ngForm">
                  <div class="flex items-center my-3 w-full">
                     <input name="code" [(ngModel)]="off.code" class="outline-none bg-gray-200 focus:bg-gray-100 duration-100 py-2 px-2 rounded-r " type="text"
                        placeholder="کد تخفیف خود را وارد کنید">
                     <a (click)="this.getOff()" class="rounded-l py-2 px-2 duration-100 bg-blue-500 hover:shadow-md cursor-pointer text-white ">اعمال</a>
                  </div>
               </form>
               <p class="text-sm text-gray-400">مبلغ {{course.realCost * course.off / 100}} هزار تومان تخفیف اعمال شد</p>
               <h1 class="text-lg text-center pt-6 pb-3 font-bold ">حامیان دوره</h1>
            <div *ngIf="course.media.spPhotoUrl" class="flex items-center justify-center flex-col">
               <img class="rounded-full w-36" src="{{course.media.spPhotoUrl}}" alt="اسپانسر">
               <p class="text-center py-2">حامی اول</p>
            </div>
            </div>
            </div>
            <div class="bg-white flex flex-col py-5 px-10 my-7 rounded-md">
             
         <div class=" w-full flex flex-col px-3 ">
            <h1 class="text-xl font-bold">سر فصل ها</h1>
            <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
               <hr class="border border-blue-100 rounded-full opacity-50" />
               <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
            </div>
         
            <div class="session"  [innerHTML]="course.titres">
           
            </div>
            <div class="py-4 flex flex-wrap items-center">
         
               <h1 class="text-xl font-bold m2 p2">دسته بندی</h1>
               <div *ngFor="let categoryCourse of course.categoryCourses" class="p-2 m-2 rounded bg-gray-200 text-sm">
                  {{categoryCourse.category.name}}
               </div>
            </div>
         
         </div>
            </div>
         </div>



      </div>

   </section>



</div>