.p-dropdown ,.p-component{
   border: 1px solid rgba(110,184,255) !important;
   background-color: rgba(110,184,255) !important;
}


ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  font-size: 20px;
  width: 1em;
  /* margin-right: -1em; */
}

.session ul li{
   color: black;
}