<style>
   .section-body {
      max-width: 1200px;
      margin: auto;
   }
</style>
<div *ngIf="course" class="bg-gray-100 pt-4 pb-14">

   <section class="section-body xl:p-0 lg:px-10 ">
      <h1 class="text-gray-400 my-4 pr-2 lg:pr-0">خانه > کارگاه های آنلاین</h1>



      <div class="flex justify-between  my-10  items-start  ">

         <div class="bg-white rounded-md  ">
            <img class="rounded-md" src="{{course.media.photoUrl}}" alt="">
            <div class="px-4  ">


               <div class="flex justify-between py-4">
                  <p class="text-xl font-bold">{{course.title}}</p>
                  <span (click)="rate = !rate" class="rounded relative border border-gray-100 border-solid p-1 mx-2 cursor-pointer duration-200 hover:scale-110"><i
                        class="fas fa-star text-yellow-500 relative"></i>
                     4.2
                     <div class="absolute  border border-gray-100 border-solid p-1 mx-2 flex mt-2" style="left:-7px;" [ngClass]="{'hidden': !rate , 'inline' : rate}">
                        <div  class="flex px-2">

                           <i class="fas fa-star text-yellow-500 relative"></i>
                           1
                        </div>
                        <div  class="flex px-2">

                           <i class="fas fa-star text-yellow-500 relative"></i>
                           2
                        </div>
                        <div  class="flex px-2">

                           <i class="fas fa-star text-yellow-500 relative"></i>
                           3
                        </div>
                        <div  class="flex px-2">

                           <i class="fas fa-star text-yellow-500 relative"></i>
                           4
                        </div>
                        <div  class="flex px-2">

                           <i class="fas fa-star text-yellow-500 relative"></i>
                           5
                        </div>
                     </div>
                  </span>
               </div>
       
               <div class="flex py-2">
                  <i class="pi  pi-calendar text-orange-500 pl-1"></i>
                  <p class="font-bold">شروع وبینار :</p>
                  <p class="px-2">{{course.started | date: 'y-M-d'}}</p>
               </div>
               <div class="flex py-2 items-start">
                  <i class="pi  pi-calendar text-orange-500 pl-1"></i>
                  <p class="font-bold ">مدت زمان آموزش :</p>
                  
                  <p class="px-2">{{course.hours}} ساعت</p>
               </div>
               <div class="flex py-2 flex-wrap items-center ">
                  <div class="flex items-center ">

                     <i class="pi  pi-calendar text-orange-500 pl-1  "></i>
                     
                     <p class="font-bold  pl-3 ">تاریخ جلسات :</p>
                  </div>
                  <p *ngFor="let session of course.sessions" class="px-4 text-lg  text-blue-500">{{session.time | date: 'y/M/d'}}</p>
                  
               </div>
               <div class="xl:hidden">

                  <div class="flex items-center my-4">

                     <i class="fas fa-users text-orange-500 pl-1"></i>
                     <p class="font-bold ">اساتید دوره</p>
                  </div>
                  <div class="flex justify-evenly flex-wrap items-center">
                     <div *ngFor="let courseTeacher of course.courseTeachers"
                        class="flex justify-center items-center py-2">
                        <!-- ! old one  -->
                        <!-- <img class="rounded-full w-14 sm:w-full" src="{{courseTeacher.teacher.image_path}}"
                           alt="teacher">
                           <div class="px-2 ">
                           <p class="font-bold px-1">{{courseTeacher.teacher.name}}</p>
                           <p class="text-sm px-1">{{courseTeacher.teacher.name}}</p>
                        </div> -->
                           <!-- ! old one  -->
                           <!-- ? new one  -->
                           <a class="flex flex-col items-center" [routerLink]="['/teacher' , courseTeacher.teacher.id]">
                              <div class="relative item-t flex items-center justify-center">
                                 <img class="rounded-full" style="max-width: 120px; max-height: 120px;" src="{{courseTeacher.teacher.image_path}}" alt="" />
                                 <div class="dark-b bg-gray-800  absolute top-0 left-0 right-0 bottom-0 rounded-full">
                                 </div>
                                 <p class="text-white text-center absolute">مشاهده رزومه</p>
                              </div>
                              <h2 class="mt-4 font-bold">{{courseTeacher.teacher.name}}</h2>
                           </a>
                           <!-- ? new one  -->
                     </div>
                  </div>
               </div>
               <div class="xl:hidden">

                  <div class="flex  justify-evenly mb-8 mt-2 flex-wrap sm:flex-nowrap">
                     <div class=" w-full flex flex-col items-stretch px-3">
                        <h1 class="text-xl font-bold">خرید دوره</h1>
                        <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                           <hr class="border border-blue-100 rounded-full opacity-50" />
                           <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
                        </div>
                        <div class="flex justify-between my-3">
                           <p class="font-bold">{{course.title}}</p>
                           <p *ngIf=" course.realCost !== 0 " class="text-blue-500">{{course.realCost}} تومان</p>
                           <p *ngIf=" course.realCost === 0 " class="text-blue-500">رایگان</p>
                        </div>
                        <a *ngIf="!course.isActive && !course.isfor" (click)="buyCourse()"
                           class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                           ویدیو دوره </a>
                        <a (click)="buyCourse()" *ngIf="course.isActive && !course.isfor"
                           class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                           دوره</a>
                        <a *ngIf="course.isfor && course.isActive"
                           class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">
                           ورود به وبینار</a>
                        <form #offForm="ngForm">
                           <div class="flex items-center my-3 w-full">
                              <input name="code" [(ngModel)]="off.code"
                                 class="outline-none bg-gray-200 focus:bg-gray-100 duration-100 py-2 px-2 rounded-r "
                                 type="text" placeholder="کد تخفیف خود را وارد کنید">
                              <a (click)="getOff()"
                                 class="rounded-l py-2 px-2 duration-100 bg-blue-500 hover:shadow-md cursor-pointer text-white ">اعمال</a>
                           </div>
                        </form>
                        <p *ngIf="this.off.offPercent" class="text-sm text-gray-400">مبلغ {{course.realCost *
                           this.off.offPercent / 100}} هزار تومان تخفیف اعمال شد</p>
                          
                        <h1 class="text-lg text-center pt-6 pb-3 font-bold ">حامیان دوره</h1>
                        <div *ngIf="course.media.spPhotoUrl" class="flex items-center justify-center flex-col">
                           <img class="rounded-full w-36" src="{{course.media.spPhotoUrl}}" alt="اسپانسر">
                           <p class="text-center py-2">حامی اول</p>
                        </div>
                     </div>
                     <div class=" w-full flex flex-col px-3 ">
                        <h1 class="text-xl font-bold">سرفصل ها</h1>
                        <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                           <hr class="border border-blue-100 rounded-full opacity-50" />
                           <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
                        </div>

                        <div class="session" [innerHTML]="course.titres">

                        </div>
                        <div class="py-4 flex flex-wrap items-center">

                           <h1 class="text-xl font-bold m2 p2">دسته بندی</h1>
                           <div *ngFor="let categoryCourse of course.categoryCourses"
                              class="p-2 m-2 rounded bg-gray-200 text-sm">
                              {{categoryCourse.category.name}}
                           </div>

                        </div>

                     </div>
                  </div>
               </div>
               <div class="flex justify-end items-center">
                  <a class="text-orange-500 px-3" href="//{{course.media.pdfUrl}}">دانلود فایل پی دی اف
                     <i class="pi pi-download px-2"></i>
                  </a>
                  <!-- <p-dropdown *ngIf="course.videos" class="bg-blue-100" [options]="course.videos" optionLabel="title"></p-dropdown> -->
                  <select (change)="getUrl($event)" style="width: 80px;">
                     <option *ngFor="let video of course.videos" value="{{video.url}}">{{video.title}}</option>
                  </select>
               </div>
               <div class="video rounded-2xl w-full  my-6">
                  <div *ngIf="course.videos" class="r1_iframe_embed">
                     <iframe [src]="this.url | arvan" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                  </div>
               </div>
               <h1 class="text-xl font-bold">توضیحات وبینار</h1>
               <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                  <hr class="border border-blue-100 rounded-full opacity-50" />
                  <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
               </div>
               <div class="flex flex-wrap">

                  <p class="pl-0 md:pl-10 mb-10 " style="max-width: 700px;" [innerHTML]="course.description"></p>
               </div>
               <section id="intro">

                  <h1 class="text-xl font-bold">ویدیو معرفی دوره</h1>
                  <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                     <hr class="border border-blue-100 rounded-full opacity-50" />
                     <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
                  </div>
                  <div class="video rounded-2xl w-full  my-8">
                     <div *ngIf="course.media.videoUrl" class="r1_iframe_embed">
                        <iframe [src]="course.media.videoUrl | arvan" frameborder="0"
                           allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                           allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
                     </div>
                  </div>
               </section>
            </div>
         </div>

         <div class="px-10 w-5/12 xl:flex flex-col items-stretch hidden">

            <div class="bg-white flex flex-col py-5 px-4  rounded-md">
               <p class="font-bold text-lg py-6 text-center">مدرسین دوره</p>
               <div class="flex-col flex flex-wrap ">
                  <div *ngFor="let courseTeacher of course.courseTeachers"
                     class="flex justify-center items-center py-3">
                     <!-- ! old one   -->
                     <!-- <img class="rounded-full" src="{{courseteacher.teacher.image_path}}" alt="teacher"
                        style="width:120px">
                     <div class="px-2">
                        
                        <p class="font-bold px-1">{{courseteacher.teacher.name}}</p>
                        <p class="text-sm px-1">{{courseteacher.teacher.name}}</p>
                     </div> -->
                     <!-- ! old one   -->
                     <!-- ? new one  -->
                     <a class="flex flex-col items-center" [routerLink]="['/teacher' , courseTeacher.teacher.id]">
                        <div class="relative item-t flex items-center justify-center">
                           <img class="rounded-full" style="max-width: 120px; max-height: 120px;" src="{{courseTeacher.teacher.image_path}}"
                           alt="" />
                           <div class="dark-b bg-gray-800  absolute top-0 left-0 right-0 bottom-0 rounded-full">
                           </div>
                           <p class="text-white text-center absolute">مشاهده رزومه</p>
                        </div>
                        <h2 class="mt-4 font-bold">{{courseTeacher.teacher.name}}</h2>
                     </a>
                     <!-- ? new one  -->
                  </div>


               </div>
            </div>
            <div class="bg-white flex flex-col py-5 px-10 my-7 rounded-md">
               <p class="font-bold text-lg py-6">خرید وبینار</p>
               <div class=" w-full flex flex-col items-stretch px-3">
                  <div class="flex justify-between my-3">
                     <p>{{course.title}}</p>
                     <p *ngIf="course.realCost !== 0 " class="text-blue-500">{{course.realCost}} تومان</p>
                     <p *ngIf="course.realCost === 0 " class="text-blue-500">رایگان</p>
                  </div>
                  <a *ngIf="!course.isActive && !course.isfor" (click)="buyCourse(course.id)"
                     class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                     ویدیو دوره</a>
                  <a *ngIf="course.isActive && !course.isfor" (click)="buyCourse(course.id)"
                     class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">تهیه
                     دوره</a>
                  <a *ngIf="course.isfor && course.isActive"
                     class="text-white bg-blue-500 rounded hover:bg-blue-900 hover:shadow duration-300 px-2 py-2 my-3 w-full text-center cursor-pointer">
                     ورود به وبینار</a>

                  <form #offForm="ngForm">
                     <div class="flex items-center my-3 w-full">
                        <input name="code" [(ngModel)]="off.code"
                           class="outline-none bg-gray-200 focus:bg-gray-100 duration-100 py-2 px-2 rounded-r "
                           type="text" placeholder="کد تخفیف خود را وارد کنید">
                        <a (click)="this.getOff()"
                           class="rounded-l py-2 px-2 duration-100 bg-blue-500 hover:shadow-md cursor-pointer text-white ">اعمال</a>
                     </div>
                  </form>
                  <p *ngIf="this.off.offPercent" class="text-sm text-gray-400">مبلغ {{course.realCost *
                     this.off.offPercent / 100}} هزار تومان تخفیف اعمال شد</p>
                  <h1 class="text-lg text-center pt-6 pb-3 font-bold ">حامیان دوره</h1>
                  <div *ngIf="course.media.spPhotoUrl" class="flex items-center justify-center flex-col">
                     <img class="rounded-full w-36" src="{{course.media.spPhotoUrl}}" alt="اسپانسر">
                     <p class="text-center py-2">حامی اول</p>
                  </div>
               </div>
            </div>
            <div class="bg-white flex flex-col py-5 px-10 my-7 rounded-md">

               <div class=" w-full flex flex-col px-3 ">
                  <h1 class="text-xl font-bold">سر فصل ها</h1>
                  <div class="relative w-full flex flex-col justify-center pt-2 pb-8">
                     <hr class="border border-blue-100 rounded-full opacity-50" />
                     <div class="bg-blue-500 w-20 h-2 rounded-full absolute"></div>
                  </div>

                  <div class="session" [innerHTML]="course.titres">

                  </div>
                  <div class="py-4 flex flex-wrap items-center">

                     <h1 class="text-xl font-bold m2 p2">دسته بندی</h1>
                     <div *ngFor="let categoryCourse of course.categoryCourses"
                        class="p-2 m-2 rounded bg-gray-200 text-sm">
                        {{categoryCourse.category.name}}
                     </div>
                  </div>

               </div>
            </div>
         </div>



      </div>

   </section>



</div>







<!-- #  Dialog Box  -->

<div class="  duration-200  centered  hidden p-4 rounded-md shadow bg-white" [ngClass]="{'hidden': dialog == false, 'w-screen fixed': dialog == true }"
   style="z-index: 1000;max-width: 500px;">

   
      <a class="text-left" mat-button mat-dialog-close (click)="hideDialog()"><i class="fas fa-times"></i></a>
      <div mat-dialog-content class="my-6 text-center flex  items-center justify-between flex-col">
         <div class="py-4 px-8">

            <h1 class="text-lg font-bold py-2">ورود / ثبت نام</h1>
            <!-- <p class="text-gray-400">لطفا ایمیل خود را وارد کنید</p> -->
         </div>
         <div class="py-6 px-2 w-96">
            <form #login="ngForm" class="my-4" action="">
               <div class="form-item  py-2">
                  <label class="block font-bold pb-1 text-right">ایمیل</label>
                  <input [(ngModel)]="model.email" name="email"
                     class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                     matInput placeholder="ایمیل خود را وارد کنید" type="email" />
               </div>
               <div class="form-item  py-2">
                  <label class="block font-bold pb-1 text-right">رمز عبور</label>
                  <input [(ngModel)]="model.password" name="password"
                     class="rounded bg-white outline-none focus:border-blue-100 border-gray-200 border p-3 w-full hover:shadow-md"
                     matInput placeholder="رمز خود را وارد کنید" type="password" />
               </div>
               <div class=" flex items-center flex-col justify-between mt-4">
                  <button (click)="loginreal()"
                     class="submit-btn w-full rounded bg-blue-500 py-2 text-white text-center my-1" type="submit">
                     وارد شوید
                  </button>
                  <!-- <a (click)="openDialogNotLogin()" class="hover:text-blue-500 text-gray-500 my-4 text-sm cursor-pointer">رمز عبور
               خود را فراموش کردم</a> -->
                  <a class="move-to-register w-full rounded border border-blue-500 text-center py-2  my-1" routerLink="/register">
                     <span class="gray text-gray-500">حساب کاربری ندارید ؟</span>
                     <span class="blue text-blue-500 font-bold px-2">
                        عضویت در توان</span>
                  </a>
               </div>
            </form>
         </div>
      </div>
   
</div>
<!-- ### End Dialog box-->

<!-- .:: The Dark screen -->
<div (click)="hideDialog()" class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-30 w-screen"
   [ngClass]="{'w-0': dialog == false, 'w-screen': dialog == true }" style="z-index: 900;">

</div>
<!-- .:: ### End dark-screen -->