<style>
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .telegram-box {
    background: linear-gradient(251.4deg, #005e87 12.96%, #3ac5ff 92.39%);
    max-width: 1200px;
    padding: 20px 5px;
    margin: auto;
  }
</style>

<section class="slide-hero w-full relative">
  <img src="assets/img/_usefull/hero-banner.jpg " alt="" />
  <div class="flex flex-col justify-between absolute z-20 centered" style="top: 10%; height: 100%">
    <div class="alaki h-1 w-1"></div>
    <div class="input">
      <p class="text-gray-100 text-center mb-10">
        دنبال هر آموزشی هستی همین جا همین الان سرچ کن
      </p>
      <div class="text-white">
        <input class="lg:py-4 lg:px-5 px-2 py-2 rounded rounded-tl-none rounded-bl-none 2xl:pl-96 pl-0 md:pl-24"
          placeholder="همین الان جستجو کن" type="text" /><button
          class="lg:py-4 lg:px-5 px-2 py-2 bg-blue-500 rounded rounded-tr-none rounded-br-none">
          <i class="fas fa-search text-white"></i>
        </button>
      </div>
    </div>
  </div>
  <i (click)="scrollToElement(main)"
    class="fas fa-chevron-down text-4xl absolute centered text-gray-100 hover:text-blue-900 rounded-full px-2 py-1 duration-300"
    style="top: 95%"></i>
</section>
<section name="feature">
  <div class="flex flex-wrap justify-evenly items-center sm:flex-row flex-col">
    <div class="flex items-center flex-col my-16">
      <svg-skills></svg-skills>
      <p class="mt-8 text-lg font-bold">مهارت پروری</p>
    </div>
    <div class="flex items-center flex-col my-16">
      <svg-universality></svg-universality>
      <p class="mt-8 text-lg font-bold">جامعیت</p>
    </div>
    <div class="flex items-center flex-col my-16">
      <svg-wallet></svg-wallet>
      <p class="mt-8 text-lg font-bold">مقرون به صرفه</p>
    </div>
  </div>
</section>
<section #main name="body" class="bg-gray-100 rounded-t-3xl py-14">
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-20 px-8">
    <div class="head flex justify-between px-6 mb-4">
      <h2>دوره های درحال برگزاری</h2>

      <!-- TODO: Link should be FIX    -->
      <a
        class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
        همه</a>

    </div>
    <div class="items-body flex flex-row overflow-auto">

      <!-- TODO: course data card    -->
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->
      <div *ngFor="let course of courseFakeData">
        <card-course [data]="course"></card-course>
      </div>
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->


    </div>
  </div>
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-20 px-8">
    <div class="head flex justify-between px-6 mb-4">
      <h2>دوره های درحال برگزاری</h2>
      <!-- TODO: Link should be FIX    -->
      <a
        class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
        همه</a>
    </div>
    <div class="items-body flex flex-row overflow-auto">

      <!-- TODO: course data card    -->
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->
      <div *ngFor="let course of courseFakeData">
        <card-course [data]="course"></card-course>
      </div>
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->


    </div>
  </div>
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-20 px-8">
    <div class="head flex justify-between px-6 mb-4">
      <h2>دوره های درحال برگزاری</h2>

      <!-- TODO: Link should be FIX    -->
      <a
        class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
        همه</a>
    </div>
    <div class="items-body flex flex-row overflow-auto">

      <!-- TODO: course data card    -->
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->
      <div *ngFor="let course of courseFakeData">
        <card-course [data]="course"></card-course>
      </div>
      <!-- .:: THE COURSE WILL BE HERE ___----___---___---___---___---___---  -->


    </div>
  </div>
</section>
<section name="info" class="bg-white">
  <div
    class="flex max-w-1200 flex-wrap items-center py-12 m-auto sm:flew-col lg:flex-row xl:justify-between justify-center">
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex flex-row">
        <div class="icon">
          <svg-clock></svg-clock>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">103</div>
          <div class="title">ساعت آموزش</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-course></svg-course>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">214</div>
          <div class="title">دوره آموزشی</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-interns></svg-interns>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">1050</div>
          <div class="title">نفر ثبت نام دوره</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-teacher></svg-teacher>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">24</div>
          <div class="title">استاد دوره آموزشی</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section name="teachers" class="bg-blue-50 py-10 relative">
  <div class="dots-pattern absolute -top-28 right-2 hidden 2xl:block z-0">
    <svg-dots></svg-dots>
  </div>
  <div class="body max-w-1200 px-5 m-auto">
    <div class="flex justify-between items-center mb-7">
      <div class="lg:inline hidden"></div>
      <h2 class="font-bold text-2xl mb-8 flex mr-0 lg:mr-12">اساتید ما</h2>
      <a
        class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
        همه</a>
    </div>

    <div class="flex max-full m-auto items-center justify-between overflow-x-auto">
      <div class="right-arrow z-10 hidden md:inline">
        <i class="fas fa-chevron-right text-orange-500 py-4 px-5 bg-gray-100 rounded-full hover:shadow-lg"></i>
      </div>
      <div class="teacher-group flex flex-col items-center mx-4">
        <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-1.png" alt="" />
        <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
      </div>

      <div class="teacher-group flex flex-col items-center mx-4">
        <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-2.png" alt="" />
        <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
      </div>
      <div class="teacher-group flex flex-col items-center mx-4">
        <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-3.png" alt="" />
        <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
      </div>
      <div class="teacher-group flex flex-col items-center mx-4">
        <img class="rounded-t-lg" style="min-width: 120px" src="assets/img/_usefull/teacher-4.png" alt="" />
        <h2 class="mt-4 font-bold">دکتر صادق اکبری</h2>
      </div>
      <div class="left-arrow z-20 hidden md:inline">
        <i class="fas fa-chevron-left text-orange-500 py-4 px-5 bg-gray-100 rounded-full hover:shadow-lg"></i>
      </div>
    </div>
  </div>
  <div class="dots-pattern absolute bottom-0 left-2 hidden 2xl:block z-0">
    <svg-dots></svg-dots>
  </div>
</section>
<section name="telegram">
  <div class="telegram-box flex justify-center flex-wrap items-center">
    <div class="ml-8 flex items-center">
      <i class="fab fa-telegram-plane inline text-white px-8 text-5xl"></i>
      <p class="inline text-white">جمله تلگرام</p>
    </div>
    <a
      class="rounded-md bg-white border-transparent px-4 py-2 border-solid border mx-2 hover:bg-transparent hover:text-white text-blue-500 duration-200 cursor-pointer">
      ورود به کانال
    </a>
  </div>
</section>