<style>
  .telegram-box {
    background: linear-gradient(251.4deg, #005e87 12.96%, #3ac5ff 92.39%);
    max-width: 1200px;
    padding: 20px 5px;
    margin: auto;
  }
</style>

<section *ngIf="photos" class="slide-hero w-full relative flex justify-center items-center">
  <img src="{{photos[0].url}}" alt="" />
  <div class="w-full bg-black opacity-60 absolute top-0 bottom-0  "></div>
  <div class="flex flex-col justify-between absolute z-20 w-full ">
    <form #searchForm="ngForm">
      <div class="input w-full m-auto">
        <p class="text-gray-100 text-center mb-10">
          دنبال هر آموزشی هستی همین جا همین الان سرچ کن
        </p>
        <div class=" m-auto w-10/12  xl:w-6/12 ">
          <input name="name" [(ngModel)]="searchP.name"
            class="   lg:py-4  px-2 py-2 rounded  rounded-tl-none rounded-bl-none w-10/12 outline-none border-1 border-white border-l-0 focus:border-swatch-lightBlue"
            placeholder="همین الان جستجو کن" type="text" /><button (click)="search()"
            class="lg:py-4 lg:px-5 px-3 py-2 bg-blue-500 rounded rounded-tr-none rounded-br-none outline-none">
            <i class="fas fa-search text-white"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <i (click)="scrollToElement(main)"
    class="fas fa-chevron-down text-4xl absolute centered text-gray-100 hover:text-blue-900 rounded-full px-2 py-1 duration-300"
    style="top: 95%"></i>
</section>

<section name="feature">
  <div class="flex flex-wrap justify-evenly items-center sm:flex-row flex-col">
    <div class="flex items-center flex-col my-16">
      <svg-skills></svg-skills>
      <p class="mt-8 text-lg font-bold">مهارت پروری</p>
    </div>
    <div class="flex items-center flex-col my-16">
      <svg-universality></svg-universality>
      <p class="mt-8 text-lg font-bold">جامعیت</p>
    </div>
    <div class="flex items-center flex-col my-16">
      <svg-wallet></svg-wallet>
      <p class="mt-8 text-lg font-bold">مقرون به صرفه</p>
    </div>
  </div>
</section>
<section #main name="body" class="bg-gray-100 rounded-t-3xl py-14">
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-10">
    <div class="head flex justify-between items-center px-6 mb-4">
      <h2 class="text-sm sm:text-base">دوره های درحال برگزاری</h2>

      <!-- TODO: Link should be FIX    -->
      <a [routerLink]="['/search', {isActive: true}]"
        class="rounded-md border-blue-500 px-4 py-1 md:px-8 md:py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 text-sm sm:text-base">مشاهده
        همه</a>

    </div>
    <div style="direction: ltr">
    
      <p-carousel *ngIf="aCourses" [value]="aCourses" [numVisible]="3" [numScroll]="3" [circular]="true"
        [autoplayInterval]='5000'  [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
  
        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <a [routerLink]="['webinar/',product.id]">
  
              </a>
              <card-course style="direction: rtl;" [course]="product" (video_url)="openDialog($event)"></card-course>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-10 ">
    <div class="head flex justify-between items-center px-6 mb-4">
      <h2 class="text-sm sm:text-base">دوره های برگزار شده</h2>
      <!-- TODO: Link should be FIX    -->
      <a [routerLink]="['/search', {isActive: false}]"
        class="rounded-md border-blue-500 px-4 py-1 md:px-8 md:py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 text-sm sm:text-base">مشاهده
        همه</a>
    </div>
    <div style="direction: ltr">
      <p-carousel *ngIf="dCourses" [value]="dCourses" [numVisible]="3" [numScroll]="3" [circular]="true"
        [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
  
        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
  
              <a [routerLink]="['webinar/',product.id]">
  
              </a>
              <card-course style="direction: rtl;" [course]="product" (video_url)="openDialog($event)"></card-course>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="course-group flex flex-col mb-20 m-auto max-w-1400 lg:px-10">
    <div class="head flex justify-between px-6 mb-4 items-center">
      <h2 class="text-sm sm:text-base">دوره های رایگان</h2>

      <!-- TODO: Link should be FIX    -->
      <a [routerLink]="['/search', {isfree: true}]"
        class="rounded-md border-blue-500 px-4 py-1 md:px-8 md:py-2 border-solid border-2 mx-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200 text-sm sm:text-base">مشاهده
        همه</a>
    </div>
    <div style="direction: ltr">

      <p-carousel *ngIf="sCourses" [value]="sCourses" [numVisible]="3" [numScroll]="3" [circular]="true"
        [autoplayInterval]='5000' [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">

        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <a [routerLink]="['webinar/',product.id]">

              </a>
              <card-course style="direction: rtl;" [course]="product" (video_url)="openDialog($event)"></card-course>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

</section>
<section *ngIf="localVar" name="info" class="bg-white">
  <div
    class="flex max-w-1200 flex-wrap items-center py-12 m-auto sm:flew-col lg:flex-row xl:justify-between justify-center">
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex flex-row">
        <div class="icon">
          <svg-clock></svg-clock>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">{{localVar.totalHours}}</div>
          <div class="title">ساعت آموزش</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-course></svg-course>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">{{localVar.totalCourses}}</div>
          <div class="title">دوره آموزشی</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-interns></svg-interns>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">{{localVar.totalUsers}}</div>
          <div class="title">نفر ثبت نام دوره</div>
        </div>
      </div>
    </div>
    <div class="info-group border border-gray-100 rounded p-4 m-4" style="min-width: 250px">
      <div class="flex">
        <div class="icon">
          <svg-teacher></svg-teacher>
        </div>
        <div class="information px-4">
          <div class="number font-bold text-xl">{{localVar.totalTeachers}}</div>
          <div class="title">استاد دوره آموزشی</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section name="teachers" class="bg-blue-50 py-10 relative teach">
  <div class="dots-pattern absolute -top-28 right-2 hidden 2xl:block z-0">
    <svg-dots></svg-dots>
  </div>
  <div class="body max-w-1200 px-5 m-auto">
    <div class="flex justify-between items-center mb-7">
      <div class="lg:inline hidden"></div>
      <h2 class="font-bold text-2xl mb-8 flex mr-0 lg:mr-12">اساتید ما</h2>
      <a [routerLink]="['/teachers']"
        class="rounded-md border-blue-500 px-8 py-2 border-solid border-2 hover:bg-blue-500 hover:text-white text-blue-500 duration-200">مشاهده
        همه</a>
    </div>
    <div style="direction: ltr">
    
      <p-carousel *ngIf="teachers" [value]="teachers" [numVisible]="4" [numScroll]="4" [circular]="true"
        [autoplayInterval]='5000'  [responsiveOptions]="teachersResponsiveOption">
        <ng-template pTemplate="header">
  
        </ng-template>
        <ng-template let-teacher pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
  
  
              <a [routerLink]="['/teacher' , teacher.id]" routerLinkActive="router-link-active"
                class="teacher-group flex flex-col items-center m-6">
                <div class="relative item-t flex items-center justify-center">
                  <img class="rounded-full" style="max-width: 120px; max-height: 120px;" src="{{teacher.image_path}}"
                    alt="" />
                  <div class="dark-b bg-gray-800  absolute top-0 left-0 right-0 bottom-0 rounded-full">
                  </div>
                  <p class="text-white text-center absolute">مشاهده رزومه</p>
                </div>
                <h2 class="mt-4 font-bold">{{teacher.name}}</h2>
              </a>
  
  
  
  
  
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

  </div>
  <div class="dots-pattern absolute bottom-0 left-2 hidden 2xl:block z-0">
    <svg-dots></svg-dots>
  </div>
</section>
<section name="telegram">
  <div class="telegram-box flex justify-center flex-wrap items-center">
    <div class="ml-8 flex items-center">
      <i class="fab fa-telegram-plane inline text-white px-8 text-5xl"></i>
      <p class="inline text-white">جمله تلگرام</p>
    </div>
    <a href="http://t.me/Tavan_Physiotherapy_group"
      class="rounded-md bg-white border-transparent px-4 py-2 border-solid border mx-2 hover:bg-transparent hover:text-white text-blue-500 duration-200 cursor-pointer">
      ورود به کانال
    </a>
  </div>
</section>






<!-- _________________________________________________________________________________________________________________________________  -->
<!-- #                                    Dialog Box  PLEASE *-login-*                                                                 -->
<!-- ================================================================================================================================= -->
<div class="  duration-200  centered  hidden p-4 rounded-md shadow bg-white"
  [ngClass]="{'hidden': dialog == false, 'w-screen fixed': dialog == true }" style="z-index: 1000;max-width: 500px;">


  <a class="text-left" mat-button mat-dialog-close (click)="hideDialog()"><i class="fas fa-times"></i></a>
  <div mat-dialog-content class="my-6 text-center flex  items-center justify-between flex-col">
    <div class="py-4 px-8">

      <h1 class="text-lg font-bold py-2">ورود / ثبت نام</h1>
      <!-- <p class="text-gray-400">لطفا ایمیل خود را وارد کنید</p> -->
    </div>
    <div class="py-6 px-2 w-96">
      <div class="r1_iframe_embed">
        <iframe [src]="dialogVideo_url | arvan" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true"
          webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
      </div>
    </div>
  </div>

</div>
<!-- ### End Dialog box-->


<!-- .:: The Dark screen -->
<div (click)="hideDialog()" class="fixed h-screen top-0 duration-200 bg-gray-700 opacity-30 w-screen"
  [ngClass]="{'w-0': dialog == false, 'w-screen': dialog == true }" style="z-index: 900;">

</div>
<!-- .:: ### End dark-screen -->