<div class="w-full p-6">
   <!-- :: /: title :/  -->
   <h1 class="text-xl mb-20 ">کارگاه های آنلاین</h1>
   <!-- card  -->
   <div class="flex flex-wrap justify-evenly">
      <card-course *ngFor="let data of courseFakeData" [data]="data"></card-course>
   </div>

   <!-- pagination -->
   <div class="col-lg-12 col-md-12 flex justify-center">
      <mat-paginator style="width: 100px;" type="number" name="paginator" ngDefaultControl style="direction: ltr;"
         [length]="4" [pageSize]="6">
      </mat-paginator>
   </div>