/* You can add global styles to this file, and also import other style files */
/* width */

@import "./assets/styles/Vazir-FD.css";

* {
	font-family: "Vazir-FD", sans-serif;
}

body {
	direction: rtl;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	
}

/*#      menu      */

.pk-megaMenuClipper {
	clip-path: polygon(0 100%, 100% 100%, 100% 8%, 64% 8%, 50% 0, 36% 8%, 0 8%);
	top: 30px;
	-webkit-box-shadow: 6px 12px 8px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 12px 8px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 12px 8px -8px rgba(0, 0, 0, 0.75);
    
}
a:active {
	color: white;
	text-decoration: none;
}

a:focusa {
	color: white;
	text-decoration: none;
}
