<!-- menu Responsive  -->
<div class="w-full xl:hidden ">

   <div class="flex py-3  px-4 items-center  bg-gray-200  ">
      <div class="flex items-center">

         <i class="fas fa-user bg-blue-500 rounded-full p-2 text-white"></i>
         <p class="px-4 font-bold">پنل کاربری</p>
      </div>
      <i class="fas fa-angle-down"></i>
   </div>

   <div class="bg-white px-2">
      <a routerLink="./workshop" routerLinkActive #workshop="routerLinkActive"
         [ngClass]="workshop.isActive ? 'text-white bg-blue-100' : 'text-gray-700 bg-transparent hover:text-blue-500'"
         class="flex items-center  py-3 px-5 duration-300  my-1 rounded-sm">
         <i class="pi pi-cloud-download pl-2" [ngClass]="workshop.isActive ? 'text-white' : 'text-orange-500'"></i>
         <p class="px-3">کارگاه آنلاین</p>
      </a>
      <a routerLink="./videos" routerLinkActive #videos="routerLinkActive"
         [ngClass]="videos.isActive ? 'text-white bg-blue-100' : 'text-gray-700 bg-transparent hover:text-blue-500'"
        class="flex items-center  py-3 px-5 duration-300  my-1 rounded-sm">
         <i class="pi pi-video pl-2" [ngClass]="videos.isActive ? 'text-white' : 'text-orange-500'"></i>
         <p class="px-3">ویدیو های خریداری شده من</p>
      </a>
      <a routerLink="./profile" routerLinkActive #profile="routerLinkActive"
         [ngClass]="profile.isActive ? 'text-white bg-blue-100' : 'text-gray-700 bg-transparent hover:text-blue-500'"
        class="flex items-center  py-3 px-5 duration-300 my-1 rounded-sm">
         <i class="pi pi-cog pl-2" [ngClass]="profile.isActive ? 'text-white' : 'text-orange-500'"></i>
         <p class="px-3">ویرایش پروفایل</p>
      </a>
      <a routerLink="/"  class="flex items-center  py-3 px-5 duration-300  my-1 rounded-sm">
         <i class="pi pi-sign-out pl-2 text-orange-500"></i>
         <p class="px-3">خروج</p>
      </a>
   </div>
</div>


<div class="flex w-full justify-around bg-gray-100 py-10">

   <div class="w-1/5 px-4 xl:block hidden ">
      <div class="w-full bg-white rounded-sm shadow-sm pb-20">
         <div class="flex py-3 pt-5 items-center mr-4">

            <img src="assets/img/_usefull/profile-avt.svg" alt="customer">
            <p class="px-4">پنل کاربری</p>
         </div>

         <a routerLink="./workshop" routerLinkActive #workshop="routerLinkActive"
            [ngClass]="workshop.isActive ? 'text-white bg-blue-500' : 'text-gray-700 bg-transparent hover:text-blue-500'"
            class="flex items-center  py-3 px-5 duration-200">
            <i class="pi pi-cloud-download pl-2" [ngClass]="workshop.isActive ? 'text-white' : 'text-orange-500'"></i>
            <p class="px-3">کارگاه آنلاین</p>
         </a>
         <a routerLink="./videos" routerLinkActive #videos="routerLinkActive"
            [ngClass]="videos.isActive ? 'text-white bg-blue-500' : 'text-gray-700 bg-transparent hover:text-blue-500'"
            class="flex items-center  py-3 px-5 duration-200">
            <i class="pi pi-video pl-2" [ngClass]="videos.isActive ? 'text-white' : 'text-orange-500'"></i>
            <p class="px-3">ویدیو های خریداری شده من</p>
         </a>
         <a routerLink="./profile" routerLinkActive #profile="routerLinkActive"
            [ngClass]="profile.isActive ? 'text-white bg-blue-500' : 'text-gray-700 bg-transparent hover:text-blue-500'"
            class="flex items-center  py-3 px-5 duration-200">
            <i class="pi pi-cog pl-2" [ngClass]="profile.isActive ? 'text-white' : 'text-orange-500'"></i>
            <p class="px-3">ویرایش پروفایل</p>
         </a>
         <a routerLink="/"
            class="flex items-center  py-3 px-5 text-gray-700 bg-transparent hover:text-blue-500 duration-200">
            <i class="pi pi-sign-out pl-2 text-orange-500"></i>
            <p class="px-3">خروج</p>
         </a>
      </div>
   </div>


   <div class="xl:w-4/6 md:w-11/12 w-full px-4 bg-white rounded-sm shadow-sm">
      <router-outlet></router-outlet>
   </div>
</div>