<div class="flex flex-wrap mt-4">
 
  <div class="w-full xl:w-12/12 px-4">
    <app-slide-show-pic-admin [header]="'اسلاید 1'" [link_navigation]=" 'https://alaki.com'"
      [imagUrl]=" 'assets/img/slideshow/1.jpg'" [title]='""'></app-slide-show-pic-admin>
  </div>
  <div class="w-full xl:w-12/12 px-4">
    <app-slide-show-pic-admin [header]="'اسلاید 2'" [link_navigation]=" ''"
      [imagUrl]=" 'assets/img/slideshow/2.jpg'" [title]='""'></app-slide-show-pic-admin>
  </div>
  <div class="w-full xl:w-12/12 px-4">
    <app-slide-show-pic-admin [header]="'اسلاید 3'" [link_navigation]=" 'https://alaki.com'"
      [imagUrl]=" 'assets/img/slideshow/3.jpg'" [title]='""'></app-slide-show-pic-admin>
  </div>
  <div class="w-full xl:w-12/12 px-4">
    <app-slide-show-pic-admin [header]="'اسلاید 4'" [link_navigation]=" 'https://alaki.com'"
      [imagUrl]=" 'assets/img/slideshow/4.jpg'" [title]='""'></app-slide-show-pic-admin>
  </div>
  <div class="w-full xl:w-12/12 px-4">
    <app-slide-show-pic-admin [header]="'اسلاید 5'" [link_navigation]=" 'https://alaki.com'"
      [imagUrl]=" 'assets/img/slideshow/5.jpg'" [title]='""'></app-slide-show-pic-admin>
  </div>
</div>